.bg_azul_face{    background: #3D5A96 !important;}
.bg_azul_titulo_0A4187 {    background: #0A4187 !important;}
.bg_azul_claro{    background: #F6F7FB !important;}

.bg_gris_fondo_F6F7FB{    background: #F6F7FB !important;}
.bg_gris_medio_999999{    background: #999999 !important;}

.bg_blanco{    background: #FFFFFF !important;}

.bg_amarillo{    background: #FFC900 !important;}

.bg_verde{    background: #66C500 !important;}
.bg_verde_foot_claro{    background: #76BA14 !important;}
.bg_verde_foot_oscuro{    background: #67A604 !important;}


/*
.verde_brillante{    background: #86C33B !important;}
.verde_boton{    background: #6DC200 !important;}
.verde_menu_70C000{    background: #70C000 !important;}
*/

/*
.azul_boton_104385{    background: #104385 !important;}
.azul_boton_033F89{    background: #033F89 !important;}
.azul_oscuro_0A3E82{    background: #0A3E82 !important;}
.azul_oscuro_003f86{ background: #003f86 !important;  }
.azul_oscuro_043D87{ background: #043D87 !important;  }
*/


.fondo_face_blanco{    background-image: url(../imagenes/login/f_boton_fondo.png); }
.fondo_face_azul{    background-image: url(../imagenes/login/f_boton_fondo.png); }
.fondo_flecha_azul {    background-image: url(../imagenes/login/derecha_azul.png);}
.fondo_flecha_amarilla {    background-image: url(../imagenes/login/derecha_amarillo.png);}
.bg_repeat_no{    background-repeat: no-repeat; }

