.estilo{  border-style: solid !important;  }

.bw1{border-width:1px !important;}
.bw2{border-width:2px !important;}
.bw3{border-width:3px !important;}

.bordes_gris{ border-color: #EEEEEE !important;  }
.bordes_azul{ border-color: #0A4086 !important;  }
.bordes_verde{ border-color: #72BA00 !important;  }

.br20{border-radius:20px !important;}
.br21{border-radius:21px !important;}
.br22{border-radius:22px !important;}
.br23{border-radius:23px !important;}
.br24{border-radius:24px !important;}
.br25{border-radius:25px !important;}
.br26{border-radius:26px !important;}
.br27{/**/border-radius:27px !important;}
.br28{border-radius:28px !important;}
.br29{border-radius:29px !important;}
.br30{border-radius:30px !important;}
.br31{border-radius:31px !important;}
.br32{border-radius:32px !important;}
.br33{border-radius:33px !important;}
.br34{border-radius:34px !important;}
.br35{border-radius:35px !important;}
.br36{border-radius:36px !important;}
.br37{border-radius:37px !important;}
.br38{border-radius:38px !important;}
.br39{border-radius:39px !important;}
.br40{border-radius:40px !important;}
.br41{border-radius:41px !important;}
.br42{border-radius:42px !important;}
.br43{border-radius:43px !important;}
.br44{border-radius:44px !important;}
.br45{border-radius:45px !important;}
.br46{border-radius:46px !important;}
.br47{border-radius:47px !important;}
.br48{border-radius:48px !important;}
.br49{border-radius:49px !important;}
.br50{border-radius:50px !important;}


