.tbn_base{
    width: 254px;
    height: 55px;
}

.tbn_grande_base{
    width: 370px;
    height: 56px;
}

.btn_web{
    border: #DDDDDD 1px solid;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    outline: none !important;
    text-align: left;
    width: 80%;
    border-radius: 15px;
}
.w20px{
    width: 20px;
}