.azul_face{    color: #3D5A96 !important;}
.azul_oscuro{    color: #0A4187 !important;}
.blanco{    color: #ffffff !important;}
.gris_oscuro_444444{    color: #444444 !important;}
.verde_home_A6BD4D{    color: #A6BD4D !important;}
.verde{    color: #66C500 !important;}
.rojo{    color: #FF0000 !important;}
/*
.azul_oscuro_0A4086{    color:#0A4086 !important;}
.azul_menu_0A3F85{    color:#0A3F85 !important;}
.azul_comprobante_023F88{    color: #023F88 !important;}

.azul_003D8B{    color: #003D8B !important;}
.azul_003B89{    color: #003B89 !important;}
.azul_013F87{    color: #013F87 !important;}
*/

/*
.verde__btn_A8BE46{    color: #A8BE46 !important;}
.verde_iniciar_A8BE46{    color: #A8BE46 !important;}
.verde_titulo_72BA00{    color: #72BA00 !important;}
.verde_titulo_73BB00{    color: #73BB00 !important;}
.verde_titulo_6CC000{    color: #6CC000 !important;}
.verde_titulo_6CC100{    color: #6CC100 !important;}
.verde_titulo_66C500{    color: #66C500 !important;}
.verde_titulo_tip_72BE00{    color: #72BE00 !important;}
*/






