
#contenedor_consejos_aramark {
	float:left;
	width:100%;
	margin-left:20px;
	margin-bottom:25px;
}
#foto_consejos_aramark {
	float:left;
	margin-bottom:20px;
}
#acordeon_consejos_aramark {
	float:left;
	width:100%;
	text-align:left;
}
h2.acc_trigger {
	margin:10px 0 0 0;
	width:100%;
    height:25px;    
    float:left;
	text-align:left;
	border-bottom:1px dotted #999;
}
h2.acc_trigger a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 0 0 20px;
	font-size:13px;
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
	color:#666666;
	text-transform:uppercase;
	cursor:pointer;
}
h2.acc_trigger a:hover {
    color: #FF6C00;
}
.acc_container {
	padding: 0;
    overflow: hidden;
    width:100%;
	text-align:left;
}
.acc_container .block ul {
	margin:20px 0 0 20px;
	padding:0;
}
.acc_container .block ul li {
	margin:10px 20px 10px 20px;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	color:#333333;
}
.acc_container .block ul li ul li {
	float:left;
	width:500px;
	font-weight:normal;
	text-align:left;
}
.acc_container .block a {
	float:left;
	margin-top:10px;
	margin-left:20px;
	margin-bottom:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FF6C00;
	text-decoration:none;
}
.block p {

	margin:10px 20px 20px 0px;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	color:#333333;
}
.acc_container .block a:hover {
	color:#009FA5;
}

.encab_titulo{
	float:left;
	height:46px;
	width:100%;
	margin:0 auto !important;
}

.contitulo_rojo{
background:url(../img_new/login/back_franja.jpg);	
}



.titulo_det{
	float:left;
	height:33px;
	width:202px !important;
	text-transform:uppercase;
	text-align:left;
}


.titulo_der_color_white{
	color:#fff;	
	padding-left:20px;
	padding-top:13px;
	font-weight:bold;
}

.contitulo_verde{
	background:#3EAF28;	
}