

.encab_titulo{
	float:left;
	height:46px;
	width:100%;
	margin:0 auto !important;
}

.contitulo_rojo{
background:url(../img_new/login/back_franja.jpg);	
}


.contitulo_verde{
background:#3EAF28;	
}


.titulo_det{
	text-transform:uppercase;
	text-align:left;
}


.contenedor_separador_standar


.marg_botn{
	margin-bottom:40px;
}

