.pl0{padding-left:0px !important;}
.pl1{padding-left:1px !important;}
.pl2{padding-left:2px !important;}
.pl3{padding-left:3px !important;}
.pl4{padding-left:4px !important;}
.pl5{padding-left:5px !important;}
.pl6{padding-left:6px !important;}
.pl7{padding-left:7px !important;}
.pl8{padding-left:8px !important;}
.pl9{padding-left:9px !important;}
.pl10{padding-left:10px !important;}
.pl11{padding-left:11px !important;}
.pl12{padding-left:12px !important;}
.pl13{padding-left:13px !important;}
.pl14{padding-left:14px !important;}
.pl15{padding-left:15px !important;}
.pl16{padding-left:16px !important;}
.pl17{padding-left:17px !important;}
.pl18{padding-left:18px !important;}
.pl19{padding-left:19px !important;}
.pl20{padding-left:20px !important;}
.pl21{padding-left:21px !important;}
.pl22{padding-left:22px !important;}
.pl23{padding-left:23px !important;}
.pl24{padding-left:24px !important;}
.pl25{padding-left:25px !important;}
.pl26{padding-left:26px !important;}
.pl27{padding-left:27px !important;}
.pl28{padding-left:28px !important;}
.pl29{padding-left:29px !important;}
.pl30{padding-left:30px !important;}
.pl31{padding-left:31px !important;}
.pl32{padding-left:32px !important;}
.pl33{padding-left:33px !important;}
.pl34{padding-left:34px !important;}
.pl35{padding-left:35px !important;}
.pl36{padding-left:36px !important;}
.pl37{padding-left:37px !important;}
.pl38{padding-left:38px !important;}
.pl39{padding-left:39px !important;}
.pl40{padding-left:40px !important;}
.pl41{padding-left:41px !important;}
.pl42{padding-left:42px !important;}
.pl43{padding-left:43px !important;}
.pl44{padding-left:44px !important;}
.pl45{padding-left:45px !important;}
.pl46{padding-left:46px !important;}
.pl47{padding-left:47px !important;}
.pl48{padding-left:48px !important;}
.pl49{padding-left:49px !important;}
.pl50{padding-left:50px !important;}
.pl51{padding-left:51px !important;}
.pl52{padding-left:52px !important;}
.pl53{padding-left:53px !important;}
.pl54{padding-left:54px !important;}
.pl55{padding-left:55px !important;}
.pl56{padding-left:56px !important;}
.pl57{padding-left:57px !important;}
.pl58{padding-left:58px !important;}
.pl59{padding-left:59px !important;}
.pl60{padding-left:60px !important;}
.pl61{padding-left:61px !important;}
.pl62{padding-left:62px !important;}
.pl63{padding-left:63px !important;}
.pl64{padding-left:64px !important;}
.pl65{padding-left:65px !important;}
.pl66{padding-left:66px !important;}
.pl67{padding-left:67px !important;}
.pl68{padding-left:68px !important;}
.pl69{padding-left:69px !important;}
.pl70{padding-left:70px !important;}
.pl71{padding-left:71px !important;}
.pl72{padding-left:72px !important;}
.pl73{padding-left:73px !important;}
.pl74{padding-left:74px !important;}
.pl75{padding-left:75px !important;}
.pl76{padding-left:76px !important;}
.pl77{padding-left:77px !important;}
.pl78{padding-left:78px !important;}
.pl79{padding-left:79px !important;}
.pl80{padding-left:80px !important;}
.pl81{padding-left:81px !important;}
.pl82{padding-left:82px !important;}
.pl83{padding-left:83px !important;}
.pl84{padding-left:84px !important;}
.pl85{padding-left:85px !important;}
.pl86{padding-left:86px !important;}
.pl87{padding-left:87px !important;}
.pl88{padding-left:88px !important;}
.pl89{padding-left:89px !important;}
.pl90{padding-left:90px !important;}
.pl91{padding-left:91px !important;}
.pl92{padding-left:92px !important;}
.pl93{padding-left:93px !important;}
.pl94{padding-left:94px !important;}
.pl95{padding-left:95px !important;}
.pl96{padding-left:96px !important;}
.pl97{padding-left:97px !important;}
.pl98{padding-left:98px !important;}
.pl99{padding-left:99px !important;}
.pl100{padding-left:100px !important;}
.pl101{padding-left:101px !important;}
.pl102{padding-left:102px !important;}
.pl103{padding-left:103px !important;}
.pl104{padding-left:104px !important;}
.pl105{padding-left:105px !important;}
.pl106{padding-left:106px !important;}
.pl107{padding-left:107px !important;}
.pl108{padding-left:108px !important;}
.pl109{padding-left:109px !important;}
.pl110{padding-left:110px !important;}
.pl111{padding-left:111px !important;}
.pl112{padding-left:112px !important;}
.pl113{padding-left:113px !important;}
.pl114{padding-left:114px !important;}
.pl115{padding-left:115px !important;}



.pr0{padding-right:0px !important;}
.pr1{padding-right:1px !important;}
.pr2{padding-right:2px !important;}
.pr3{padding-right:3px !important;}
.pr4{padding-right:4px !important;}
.pr5{padding-right:5px !important;}
.pr6{padding-right:6px !important;}
.pr7{padding-right:7px !important;}
.pr8{padding-right:8px !important;}
.pr9{padding-right:9px !important;}
.pr10{padding-right:10px !important;}
.pr11{padding-right:11px !important;}
.pr12{padding-right:12px !important;}
.pr13{padding-right:13px !important;}
.pr14{padding-right:14px !important;}
.pr15{padding-right:15px !important;}
.pr16{padding-right:16px !important;}
.pr17{padding-right:17px !important;}
.pr18{padding-right:18px !important;}
.pr19{padding-right:19px !important;}
.pr20{padding-right:20px !important;}
.pr21{padding-right:21px !important;}
.pr22{padding-right:22px !important;}
.pr23{padding-right:23px !important;}
.pr24{padding-right:24px !important;}
.pr25{padding-right:25px !important;}
.pr26{padding-right:26px !important;}
.pr27{padding-right:27px !important;}
.pr28{padding-right:28px !important;}
.pr29{padding-right:29px !important;}
.pr30{padding-right:30px !important;}
.pr31{padding-right:31px !important;}
.pr32{padding-right:32px !important;}
.pr33{padding-right:33px !important;}
.pr34{padding-right:34px !important;}
.pr35{padding-right:35px !important;}
.pr36{padding-right:36px !important;}
.pr37{padding-right:37px !important;}
.pr38{padding-right:38px !important;}
.pr39{padding-right:39px !important;}
.pr40{padding-right:40px !important;}
.pr41{padding-right:41px !important;}
.pr42{padding-right:42px !important;}
.pr43{padding-right:43px !important;}
.pr44{padding-right:44px !important;}
.pr45{padding-right:45px !important;}
.pr46{padding-right:46px !important;}
.pr47{padding-right:47px !important;}
.pr48{padding-right:48px !important;}
.pr49{padding-right:49px !important;}
.pr50{padding-right:50px !important;}
.pr51{padding-right:51px !important;}
.pr52{padding-right:52px !important;}
.pr53{padding-right:53px !important;}
.pr54{padding-right:54px !important;}
.pr55{padding-right:55px !important;}
.pr56{padding-right:56px !important;}
.pr57{padding-right:57px !important;}
.pr58{padding-right:58px !important;}
.pr59{padding-right:59px !important;}
.pr60{padding-right:60px !important;}
.pr61{padding-right:61px !important;}
.pr62{padding-right:62px !important;}
.pr63{padding-right:63px !important;}
.pr64{padding-right:64px !important;}
.pr65{padding-right:65px !important;}
.pr66{padding-right:66px !important;}
.pr67{padding-right:67px !important;}
.pr68{padding-right:68px !important;}
.pr69{padding-right:69px !important;}
.pr70{padding-right:70px !important;}
.pr71{padding-right:71px !important;}
.pr72{padding-right:72px !important;}
.pr73{padding-right:73px !important;}
.pr74{padding-right:74px !important;}
.pr75{padding-right:75px !important;}
.pr76{padding-right:76px !important;}
.pr77{padding-right:77px !important;}
.pr78{padding-right:78px !important;}
.pr79{padding-right:79px !important;}
.pr80{padding-right:80px !important;}
.pr81{padding-right:81px !important;}
.pr82{padding-right:82px !important;}
.pr83{padding-right:83px !important;}
.pr84{padding-right:84px !important;}
.pr85{padding-right:85px !important;}
.pr86{padding-right:86px !important;}
.pr87{padding-right:87px !important;}
.pr88{padding-right:88px !important;}
.pr89{padding-right:89px !important;}
.pr90{padding-right:90px !important;}
.pr91{padding-right:91px !important;}
.pr92{padding-right:92px !important;}
.pr93{padding-right:93px !important;}
.pr94{padding-right:94px !important;}
.pr95{padding-right:95px !important;}
.pr96{padding-right:96px !important;}
.pr97{padding-right:97px !important;}
.pr98{padding-right:98px !important;}
.pr99{padding-right:99px !important;}
.pr100{padding-right:100px !important;}
.pr101{padding-right:101px !important;}
.pr102{padding-right:102px !important;}
.pr103{padding-right:103px !important;}
.pr104{padding-right:104px !important;}
.pr105{padding-right:105px !important;}
.pr106{padding-right:106px !important;}
.pr107{padding-right:107px !important;}
.pr108{padding-right:108px !important;}
.pr109{padding-right:109px !important;}
.pr110{padding-right:110px !important;}
.pr111{padding-right:111px !important;}
.pr112{padding-right:112px !important;}
.pr113{padding-right:113px !important;}
.pr114{padding-right:114px !important;}
.pr115{padding-right:115px !important;}



.pb0{padding-bottom:0px !important;}
.pb1{padding-bottom:1px !important;}
.pb2{padding-bottom:2px !important;}
.pb3{padding-bottom:3px !important;}
.pb4{padding-bottom:4px !important;}
.pb5{padding-bottom:5px !important;}
.pb6{padding-bottom:6px !important;}
.pb7{padding-bottom:7px !important;}
.pb8{padding-bottom:8px !important;}
.pb9{padding-bottom:9px !important;}
.pb10{padding-bottom:10px !important;}
.pb11{padding-bottom:11px !important;}
.pb12{padding-bottom:12px !important;}
.pb13{padding-bottom:13px !important;}
.pb14{padding-bottom:14px !important;}
.pb15{padding-bottom:15px !important;}
.pb16{padding-bottom:16px !important;}
.pb17{padding-bottom:17px !important;}
.pb18{padding-bottom:18px !important;}
.pb19{padding-bottom:19px !important;}
.pb20{padding-bottom:20px !important;}
.pb21{padding-bottom:21px !important;}
.pb22{padding-bottom:22px !important;}
.pb23{padding-bottom:23px !important;}
.pb24{padding-bottom:24px !important;}
.pb25{padding-bottom:25px !important;}
.pb26{padding-bottom:26px !important;}
.pb27{padding-bottom:27px !important;}
.pb28{padding-bottom:28px !important;}
.pb29{padding-bottom:29px !important;}
.pb30{padding-bottom:30px !important;}
.pb31{padding-bottom:31px !important;}
.pb32{padding-bottom:32px !important;}
.pb33{padding-bottom:33px !important;}
.pb34{padding-bottom:34px !important;}
.pb35{padding-bottom:35px !important;}
.pb36{padding-bottom:36px !important;}
.pb37{padding-bottom:37px !important;}
.pb38{padding-bottom:38px !important;}
.pb39{padding-bottom:39px !important;}
.pb40{padding-bottom:40px !important;}
.pb41{padding-bottom:41px !important;}
.pb42{padding-bottom:42px !important;}
.pb43{padding-bottom:43px !important;}
.pb44{padding-bottom:44px !important;}
.pb45{padding-bottom:45px !important;}
.pb46{padding-bottom:46px !important;}
.pb47{padding-bottom:47px !important;}
.pb48{padding-bottom:48px !important;}
.pb49{padding-bottom:49px !important;}
.pb50{padding-bottom:50px !important;}
.pb51{padding-bottom:51px !important;}
.pb52{padding-bottom:52px !important;}
.pb53{padding-bottom:53px !important;}
.pb54{padding-bottom:54px !important;}
.pb55{padding-bottom:55px !important;}
.pb56{padding-bottom:56px !important;}
.pb57{padding-bottom:57px !important;}
.pb58{padding-bottom:58px !important;}
.pb59{padding-bottom:59px !important;}
.pb60{padding-bottom:60px !important;}
.pb61{padding-bottom:61px !important;}
.pb62{padding-bottom:62px !important;}
.pb63{padding-bottom:63px !important;}
.pb64{padding-bottom:64px !important;}
.pb65{padding-bottom:65px !important;}
.pb66{padding-bottom:66px !important;}
.pb67{padding-bottom:67px !important;}
.pb68{padding-bottom:68px !important;}
.pb69{padding-bottom:69px !important;}
.pb70{padding-bottom:70px !important;}
.pb71{padding-bottom:71px !important;}
.pb72{padding-bottom:72px !important;}
.pb73{padding-bottom:73px !important;}
.pb74{padding-bottom:74px !important;}
.pb75{padding-bottom:75px !important;}
.pb76{padding-bottom:76px !important;}
.pb77{padding-bottom:77px !important;}
.pb78{padding-bottom:78px !important;}
.pb79{padding-bottom:79px !important;}
.pb80{padding-bottom:80px !important;}
.pb81{padding-bottom:81px !important;}
.pb82{padding-bottom:82px !important;}
.pb83{padding-bottom:83px !important;}
.pb84{padding-bottom:84px !important;}
.pb85{padding-bottom:85px !important;}
.pb86{padding-bottom:86px !important;}
.pb87{padding-bottom:87px !important;}
.pb88{padding-bottom:88px !important;}
.pb89{padding-bottom:89px !important;}
.pb90{padding-bottom:90px !important;}
.pb91{padding-bottom:91px !important;}
.pb92{padding-bottom:92px !important;}
.pb93{padding-bottom:93px !important;}
.pb94{padding-bottom:94px !important;}
.pb95{padding-bottom:95px !important;}
.pb96{padding-bottom:96px !important;}
.pb97{padding-bottom:97px !important;}
.pb98{padding-bottom:98px !important;}
.pb99{padding-bottom:99px !important;}
.pb100{padding-bottom:100px !important;}
.pb101{padding-bottom:101px !important;}
.pb102{padding-bottom:102px !important;}
.pb103{padding-bottom:103px !important;}
.pb104{padding-bottom:104px !important;}
.pb105{padding-bottom:105px !important;}
.pb106{padding-bottom:106px !important;}
.pb107{padding-bottom:107px !important;}
.pb108{padding-bottom:108px !important;}
.pb109{padding-bottom:109px !important;}
.pb110{padding-bottom:110px !important;}
.pb111{padding-bottom:111px !important;}
.pb112{padding-bottom:112px !important;}
.pb113{padding-bottom:113px !important;}
.pb114{padding-bottom:114px !important;}
.pb115{padding-bottom:115px !important;}



.pt0{padding-top:0px !important;}
.pt1{padding-top:1px !important;}
.pt2{padding-top:2px !important;}
.pt3{padding-top:3px !important;}
.pt4{padding-top:4px !important;}
.pt5{padding-top:5px !important;}
.pt6{padding-top:6px !important;}
.pt7{padding-top:7px !important;}
.pt8{padding-top:8px !important;}
.pt9{padding-top:9px !important;}
.pt10{padding-top:10px !important;}
.pt11{padding-top:11px !important;}
.pt12{padding-top:12px !important;}
.pt13{padding-top:13px !important;}
.pt14{padding-top:14px !important;}
.pt15{padding-top:15px !important;}
.pt16{padding-top:16px !important;}
.pt17{padding-top:17px !important;}
.pt18{padding-top:18px !important;}
.pt19{padding-top:19px !important;}
.pt20{padding-top:20px !important;}
.pt21{padding-top:21px !important;}
.pt22{padding-top:22px !important;}
.pt23{padding-top:23px !important;}
.pt24{padding-top:24px !important;}
.pt25{padding-top:25px !important;}
.pt26{padding-top:26px !important;}
.pt27{padding-top:27px !important;}
.pt28{padding-top:28px !important;}
.pt29{padding-top:29px !important;}
.pt30{padding-top:30px !important;}
.pt31{padding-top:31px !important;}
.pt32{padding-top:32px !important;}
.pt33{padding-top:33px !important;}
.pt34{padding-top:34px !important;}
.pt35{padding-top:35px !important;}
.pt36{padding-top:36px !important;}
.pt37{padding-top:37px !important;}
.pt38{padding-top:38px !important;}
.pt39{padding-top:39px !important;}
.pt40{padding-top:40px !important;}
.pt41{padding-top:41px !important;}
.pt42{padding-top:42px !important;}
.pt43{padding-top:43px !important;}
.pt44{padding-top:44px !important;}
.pt45{padding-top:45px !important;}
.pt46{padding-top:46px !important;}
.pt47{padding-top:47px !important;}
.pt48{padding-top:48px !important;}
.pt49{padding-top:49px !important;}
.pt50{padding-top:50px !important;}
.pt51{padding-top:51px !important;}
.pt52{padding-top:52px !important;}
.pt53{padding-top:53px !important;}
.pt54{padding-top:54px !important;}
.pt55{padding-top:55px !important;}
.pt56{padding-top:56px !important;}
.pt57{padding-top:57px !important;}
.pt58{padding-top:58px !important;}
.pt59{padding-top:59px !important;}
.pt60{padding-top:60px !important;}
.pt61{padding-top:61px !important;}
.pt62{padding-top:62px !important;}
.pt63{padding-top:63px !important;}
.pt64{padding-top:64px !important;}
.pt65{padding-top:65px !important;}
.pt66{padding-top:66px !important;}
.pt67{padding-top:67px !important;}
.pt68{padding-top:68px !important;}
.pt69{padding-top:69px !important;}
.pt70{padding-top:70px !important;}
.pt71{padding-top:71px !important;}
.pt72{padding-top:72px !important;}
.pt73{padding-top:73px !important;}
.pt74{padding-top:74px !important;}
.pt75{padding-top:75px !important;}
.pt76{padding-top:76px !important;}
.pt77{padding-top:77px !important;}
.pt78{padding-top:78px !important;}
.pt79{padding-top:79px !important;}
.pt80{padding-top:80px !important;}
.pt81{padding-top:81px !important;}
.pt82{padding-top:82px !important;}
.pt83{padding-top:83px !important;}
.pt84{padding-top:84px !important;}
.pt85{padding-top:85px !important;}
.pt86{padding-top:86px !important;}
.pt87{padding-top:87px !important;}
.pt88{padding-top:88px !important;}
.pt89{padding-top:89px !important;}
.pt90{padding-top:90px !important;}
.pt91{padding-top:91px !important;}
.pt92{padding-top:92px !important;}
.pt93{padding-top:93px !important;}
.pt94{padding-top:94px !important;}
.pt95{padding-top:95px !important;}
.pt96{padding-top:96px !important;}
.pt97{padding-top:97px !important;}
.pt98{padding-top:98px !important;}
.pt99{padding-top:99px !important;}
.pt100{padding-top:100px !important;}
.pt102{padding-top:102px !important;}
.pt101{padding-top:101px !important;}
.pt103{padding-top:103px !important;}
.pt104{padding-top:104px !important;}
.pt105{padding-top:105px !important;}
.pt106{padding-top:106px !important;}
.pt107{padding-top:107px !important;}
.pt108{padding-top:108px !important;}
.pt109{padding-top:109px !important;}
.pt110{padding-top:110px !important;}
.pt111{padding-top:111px !important;}
.pt112{padding-top:112px !important;}
.pt113{padding-top:113px !important;}
.pt114{padding-top:114px !important;}
.pt115{padding-top:115px !important;}
.pt130{padding-top:130px !important;}

/* % padding-left */
.por-pl10{padding-left:10% !important;}

/* % padding-right */
.por-pr10{padding-right:10% !important;}

/* % padding-top */
.por-pt5{padding-top:5% !important;}