::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #023F88;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #023F88;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #023F88;
}