#titulo_area_apoderado{
	background:url(../images/bg_area_apoderado.png) center no-repeat;
	float:left;
	display:block;
	
	height:22px;
	width:673px;
		
	font-family: 'Raleway', sans-serif;	
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-align:right;
	
	padding-right:40px;
	padding-top:4px;
}
.triangulo{
	float:right;
	display:block;		
}

.titulo_registro{	
	background-color:#3EAF28;
	float:left;
	display:block;
	
	height:26px;
	width:960px;
	
	margin-top:20px;
	margin-bottom:30px;
}

.titulo_registro span{
	float:left;
	display:block;
	
	width:900px;
	
	font-family: 'Raleway', sans-serif;	
	font-weight:bold;
	font-size:16px;
	color:#FFFFFF;	
	text-align:right;
	
	margin-left:10px;
	margin-top:4px;
}
.columna1{
	float:left;
	display:block;
	
	height:44px;
	width:335px;
	
	margin-right:25px;	
}
.columna1 span{
	float:left;
	display:block;
	
	height:auto;
	width:116px;
	
	font-family: 'Raleway', sans-serif;	
	font-size:13px;
	color:#666;
	font-weight:bold;
	text-align:left;
	
	margin-top:2px;
}
.columna1 input{
	float:left;
	display:block;
	border: #999999 1px solid;
	border-radius:5px;
	height:20px;
	width:194px;
	
	font-family: 'Raleway', sans-serif;	
	font-size:12px;
	color:#666;
	font-weight:bold;
	text-align:left;
	
	padding-left:10px;
	padding-right:10px;
}
.columna2{
	float:left;
	display:block;
	
	height:44px;
	width:353px;
	
	margin-right:40px;	
}
.columna2 span{
	float:left;
	display:block;
	
	height:auto;
	width:134px;
	
	font-family: 'Raleway', sans-serif;	
	font-size:13px;
	color:#666;
	font-weight:bold;
	text-align:left;
	
	margin-top:2px;
}
.columna2 input{
	float:left;
	display:block;
	border: #999999 1px solid;
	width:194px;
	
	border-radius:5px;
	
	font-family: 'Raleway', sans-serif;	
	font-size:12px;
	color:#666;
	font-weight:bold;
	text-align:left;
	
	padding-left:10px;
	padding-right:10px;
	height:20px;
}

.columna3{
	float:left;
	display:block;
	
	height:44px;
	width:205px;

}
.columna3 span{
	float:left;
	display:block;
	
	height:auto;
	width:187px;
	
	font-family: 'Raleway', sans-serif;	
	font-size:13px;
	color:#666;
	font-weight:bold;
	text-align:left;
	
	margin-top:2px;
}
.columna3 input{
	float:left;
	display:block;
	border: #999999 1px solid;
	border-radius:5px;
	
	height:20px;
	
	font-family: 'Raleway', sans-serif;	
	font-size:12px;
	color:#666;
	font-weight:bold;
	text-align:left;
	
	margin-left:0px;
	margin-right:0px;
	margin-top:5px;
}
.columna3 a{
	color:#3333CC;
	cursor:pointer;
	font-size:11px;
	font-style:italic;
	text-decoration:none;	
}
.columna3 a:hover{
	color:#3333CC;	
	text-decoration:underline;
}
#boton_guardar{
    background: #ffffff;
    border: 1px solid #66C500;
    color: #66C500;
}

#boton_guardar:hover{
    background: #66C500;
    color: #ffffff;
}

#boton_guardar:active{
    opacity: 0.6;
}

#boton_cerrar_box{
	background:url(../images/boton_cerrar.png) center no-repeat;
	float:left;
	display:block;
	
	height:22px;
	width:90px;
	cursor:pointer;
	
	margin-left:160px;
	margin-top:20px;	
}
#boton_cerrar_box:active{
	background-size:95% 95%;
}
#fondo_box{
	background:#000000;
	position:fixed;
	display:none;
	
	height:100%;
	width:100%;
	
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);	
	
	z-index:999;
}
#box{
	background-color:#FFFFFF;
	position:fixed;
	display:none;
	
	height:340px;
	width:420px;
	
	margin:auto;
	
	left:0;
	right:0;
	top:0;
	bottom:0;
	
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	
	z-index:1000;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}

#box p{
	float:left;
	display:block;
	
	font-family: 'Raleway', sans-serif;	
	font-size:12px;
	color:#666;
	font-weight:bold;
	text-align:justify;
}
#box h3{
	float:left;
	display:block;
	
	width:420px;
	
	font-family: 'Raleway', sans-serif;	
	color:#000;
	font-weight:bold;
	text-align:center;
}
























