﻿.pointer{
	cursor:pointer;
}

/*font*/
.quicksand{
    font-family: 'Quicksand', sans-serif;
}
.bitter {
    font-family: 'Bitter', serif;
}

.no_decoracion {
    text-decoration: none;
}

/*grosor*/
.estilo100{font-weight:100 !important;}
.estilo200{font-weight:200 !important;}
.estilo300{font-weight:300 !important;}
.estilo400{font-weight:400 !important;}
.estilo500{font-weight:500 !important;}
.estilo600{font-weight:600 !important;}
.estilo700{font-weight:700 !important;}
.estilo800{font-weight:800 !important;}
.estilo900{font-weight:900 !important;}
.bold{font-weight: bold;}

/*aliniacion*/
.justificado{  text-align: justify; }
.izquierda{  text-align: left; }
.derecha{  text-align: right;  }
.centro{  text-align: center !important;}

/*interlineado*/
.interlineado1{line-height:1px !important;}
.interlineado2{line-height:2px !important;}
.interlineado3{line-height:3px !important;}
.interlineado4{line-height:4px !important;}
.interlineado5{line-height:5px !important;}
.interlineado6{line-height:6px !important;}
.interlineado7{line-height:7px !important;}
.interlineado8{line-height:8px !important;}
.interlineado9{line-height:9px !important;}
.interlineado10{line-height:10px !important;}
.interlineado11{line-height:11px !important;}
.interlineado12{line-height:12px !important;}
.interlineado13{line-height:13px !important;}
.interlineado14{line-height:14px !important;}
.interlineado15{line-height:15px !important;}
.interlineado16{line-height:16px !important;}
.interlineado17{line-height:17px !important;}
.interlineado18{line-height:18px !important;}
.interlineado19{line-height:19px !important;}
.interlineado20{line-height:20px !important;}
.interlineado21{line-height:21px !important;}
.interlineado22{line-height:22px !important;}
.interlineado23{line-height:23px !important;}
.interlineado24{line-height:24px !important;}
.interlineado25{line-height:25px !important;}
.interlineado26{line-height:26px !important;}
.interlineado27{line-height:27px !important;}
.interlineado28{line-height:28px !important;}
.interlineado29{line-height:29px !important;}
.interlineado30{line-height:30px !important;}
.interlineado31{line-height:31px !important;}
.interlineado32{line-height:32px !important;}
.interlineado33{line-height:33px !important;}
.interlineado34{line-height:34px !important;}
.interlineado35{line-height:35px !important;}
.interlineado36{line-height:36px !important;}
.interlineado37{line-height:37px !important;}
.interlineado38{line-height:38px !important;}
.interlineado39{line-height:39px !important;}
.interlineado40{line-height:40px !important;}
.interlineado41{line-height:41px !important;}
.interlineado42{line-height:42px !important;}
.interlineado43{line-height:43px !important;}
.interlineado44{line-height:44px !important;}
.interlineado45{line-height:45px !important;}
.interlineado46{line-height:46px !important;}
.interlineado47{line-height:47px !important;}
.interlineado48{line-height:48px !important;}
.interlineado49{line-height:49px !important;}
.interlineado50{line-height:50px !important;}


/*Tamaño de Texto*/
.size0{font-size:0px !important;}
.size1{font-size:1px !important;}
.size2{font-size:2px !important;}
.size3{font-size:3px !important;}
.size4{font-size:4px !important;}
.size5{font-size:5px !important;}
.size6{font-size:6px !important;}
.size7{font-size:7px !important;}
.size8{font-size:8px !important;}
.size9{font-size:9px !important;}
.size10{font-size:10px !important;}
.size11{font-size:11px !important;}
.size12{font-size:12px !important;}
.size13{font-size:13px !important;}
.size14{font-size:14px !important;}
.size15{font-size:15px !important;}
.size16{font-size:16px !important;}
.size17{font-size:17px !important;}
.size18{font-size:18px !important;}
.size19{font-size:19px !important;}
.size20{font-size:20px !important;}
.size21{font-size:21px !important;}
.size22{font-size:22px !important;}
.size23{font-size:23px !important;}
.size24{font-size:24px !important;}
.size25{font-size:25px !important;}
.size26{font-size:26px !important;}
.size27{font-size:27px !important;}
.size28{font-size:28px !important;}
.size29{font-size:29px !important;}
.size30{font-size:30px !important;}
.size31{font-size:31px !important;}
.size32{font-size:32px !important;}
.size33{font-size:33px !important;}
.size34{font-size:34px !important;}
.size35{font-size:35px !important;}
.size36{font-size:36px !important;}
.size37{font-size:37px !important;}
.size38{font-size:38px !important;}
.size39{font-size:39px !important;}
.size40{font-size:40px !important;}
.size41{font-size:41px !important;}
.size42{font-size:42px !important;}
.size43{font-size:43px !important;}
.size44{font-size:44px !important;}
.size45{font-size:45px !important;}
.size46{font-size:46px !important;}
.size47{font-size:47px !important;}
.size48{font-size:48px !important;}
.size49{font-size:49px !important;}
.size50{font-size:50px !important;}
.size51{font-size:51px !important;}
.size52{font-size:52px !important;}
.size53{font-size:53px !important;}
.size54{font-size:54px !important;}
.size55{font-size:55px !important;}
.size56{font-size:56px !important;}
.size57{font-size:57px !important;}
.size58{font-size:58px !important;}
.size59{font-size:59px !important;}
.size60{font-size:60px !important;}


/*interlineado*/
.interlineado0{line-height:0px !important;}
.interlineado1{line-height:1px !important;}
.interlineado2{line-height:2px !important;}
.interlineado3{line-height:3px !important;}
.interlineado4{line-height:4px !important;}
.interlineado5{line-height:5px !important;}
.interlineado6{line-height:6px !important;}
.interlineado7{line-height:7px !important;}
.interlineado8{line-height:8px !important;}
.interlineado9{line-height:9px !important;}
.interlineado10{line-height:10px !important;}
.interlineado11{line-height:11px !important;}
.interlineado12{line-height:12px !important;}
.interlineado13{line-height:13px !important;}
.interlineado14{line-height:14px !important;}
.interlineado15{line-height:15px !important;}
.interlineado16{line-height:16px !important;}
.interlineado17{line-height:17px !important;}
.interlineado18{line-height:18px !important;}
.interlineado19{line-height:19px !important;}
.interlineado20{line-height:20px !important;}
.interlineado21{line-height:21px !important;}
.interlineado22{line-height:22px !important;}
.interlineado23{line-height:23px !important;}
.interlineado24{line-height:24px !important;}
.interlineado25{line-height:25px !important;}
.interlineado26{line-height:26px !important;}
.interlineado27{line-height:27px !important;}
.interlineado28{line-height:28px !important;}
.interlineado29{line-height:29px !important;}
.interlineado30{line-height:30px !important;}
.interlineado31{line-height:31px !important;}
.interlineado32{line-height:32px !important;}
.interlineado33{line-height:33px !important;}
.interlineado34{line-height:34px !important;}
.interlineado35{line-height:35px !important;}
.interlineado36{line-height:36px !important;}
.interlineado37{line-height:37px !important;}
.interlineado38{line-height:38px !important;}
.interlineado39{line-height:39px !important;}
.interlineado40{line-height:40px !important;}
.interlineado41{line-height:41px !important;}
.interlineado42{line-height:42px !important;}
.interlineado43{line-height:43px !important;}
.interlineado44{line-height:44px !important;}
.interlineado45{line-height:45px !important;}
.interlineado46{line-height:46px !important;}
.interlineado47{line-height:47px !important;}
.interlineado48{line-height:48px !important;}
.interlineado49{line-height:49px !important;}
