.bg_tips{
    background: url('../imagenes/tips/fondo_tips_nutricion.jpg') no-repeat;
    background-size: 100% auto;
}

.bg_blanco_transparente{
    background: #ffffffd1;
}

.tool_new{
    position: absolute;
    margin-left: 102px;
}


.color_gris_oscuro1{
    color:#444444;
}

.ver_mas_tips{
    text-decoration: none !important
}

.pointer{
    cursor: pointer;
}

.hide{
    display: none;
}

.consejos{
    width: 800px;
    display: inline-block;
    padding-right: 57px !important;
}


@media screen and (max-width: 1200px) {

    .tool_new{
        margin-left: 2px;
    }
}


@media screen and (max-width: 992px) {

    .tool_new{
        display: none;
    }
}
