html, body{
		margin:0;
		text-align:center;
		
}
#n_orden{
	padding-left:5px;
	padding-right:5px;	
}

#rut{
	padding-left:5px;
	padding-right:5px;	
}

table{
	margin:20px auto;	
	text-align:left;
}
#orden_vista{
	margin:30px auto;
	width:900px;	
}
#table_orden{
	text-align:center !important;
}
#table_comprobante{
	padding-left:20px;
	padding-bottom:10px;
	
	border:#CCCCCC 1px solid;	
}
