#cargando{
    background: #000;
    position: fixed;
    display: none;
    height: 40px;
    width: 100%;
    top: 0;
    
    
    cursor: pointer;
    z-index: 100000;
}

#cargando img{
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 16px;
    
}

#cargando span{
    float: left;
    display: block;
    font-family: arial;
    font-size: 18px;
    color: #FFF;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}