body{
    margin: 0;
    
}

#mensaje{
    background-image: url(images/bg.png);
    position: fixed;
    display: none;
    height: 87px;
    width: 100%;    
    font-family: arial;
    font-size: 32px;
    color: #FFF;
    text-align: center;
    padding-top: 45px;
    
    cursor: pointer;
    z-index: 1000;
}