body{
    margin: 0;
    
}

#contenedor_mensaje{
    background-image: url(images/bg.png);
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    z-index: 1000;
}

#caja_mensaje{
    background-color: #FFFFFF;
    position: absolute;
    display: block;
    height: 274px;
    width: 350px;
    
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -175px;
    
    text-align: center;
    
    
}

#bg_caja_mensaje1{
    
    background-image: url(images/ico1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #DD5647;
    
    float: left;
    display: block;
    height: 132px;
    width: 350px;
}

#bg_caja_mensaje2{
    
    background-color: #B9473A;
    
    float: left;
    display: block;
    height: 6px;
    width: 100%;
}



#mensaje{
    background-image: url(images/bg.png);
    position: fixed;
    display: block;
    height: 87px;
    width: 100%;    
    font-family: arial;
    font-size: 32px;
    color: #FFF;
    text-align: center;
    padding-top: 45px;
    
    cursor: pointer;
    z-index: 1000;
}

#titulo_mensaje_obj{
    float: left;
    display: block;
    
    width: 100%;
    height: 25px;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    
    text-align: center;
    font-family: Arial;
    color:#666;
    font-size: 12px;
    font-weight: bold;

    
    /*border: 1px solid #000;*/
}

#texto_mensaje_obj{
    float: left;
    display: block;
    
    width: 100%;
    height: 64px;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    
    margin-bottom: 5px;
    
    text-align: center;
    font-family: Arial;
    color:#999;
    font-size: 12px;
    font-weight: bold;

    
   /*border: 1px solid #000;*/
        
}