body {
    margin: 0 auto;
}

#table_comprobante {
    /*display: block;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: #666666;
    text-align: left;
    margin-left: 19px;
    z-index: 2;
}

#table_comprobante tr {
    float: left;
    display: block;
    height: auto;
    width: 100%;
}

#table_comprobante td {
    float: left;
    display: block;
    height: auto;
    width: 500px;
    padding: 5px 0px 5px 0px;
}

#table_comprobante td span {
    float: left;
    display: block;
    height: auto;
    width: 200px;
    font-weight: bold;
    margin-left: 30px;
}

#table_comprobante td a {
    float: left;
    display: block;
    height: auto;
    width: 127px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
}

#table_comprobante td a:hover {
    text-decoration: underline;
}

#table_comprobante td label {
    float: left;
    display: block;
    height: auto;
    width: 268px;
    font-weight: normal;
}

#table_comprobante td h4 {
    float: left;
    display: block;
    height: auto;
    width: 644px;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    margin: 18px 0px 5px 0px;
    margin-left: 17px;
}
.titulo_comprobante{
    color: #023F88;
}