
#contenedor_cuerpo{
    margin:0 auto;
    display:block;

    height:auto;
    width:940px;

    background:#FFFFFF;
}

#contenedor_izq{
    float:left;
    display:block;

    height:auto;
    width:940px;

    margin-top:0px;
}
#contenedor_panel_control{
    float:left;
    display:block;

    height:auto;
    width:940px;

    padding-bottom:0px;
}

.titulo_panel_izq{
    background:url(../images/bg_titulo_panel_control.png) center no-repeat;
    float:left;
    display:block;

    height:22px;
    width:222px;

    font-family: 'Raleway', sans-serif;
    font-size:16px;
    color:#FFF;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;

    padding-top:4px;
}

#contenedor_panel_control ul{
    float:left;
    display:block;

    background-color:#F4F1EC;

    height:auto;
    width:940px;

    margin:0;
    padding:0;
    margin-top:	0px;
}
#contenedor_panel_control ul li{
    float:left;
    display:block;

    height:35px;
    width:104px;

    margin:0;
    padding:0px 0px 0px 0px;

    border-bottom:#fff 0px solid;
}
#contenedor_panel_control li img{
    float:left;
    display:block;
}
#contenedor_panel_control li a{
    width:24px;
    height:24px;

    display:block;

    font-family: 'Raleway', sans-serif;
    font-size:12px;
    color:#fff;
    text-decoration:none;
    font-weight:bold;

    margin-left:42px;
    margin-top:6px;
}
#contenedor_panel_control li a:hover{
    text-decoration:underline;
}

#contenedor_mis_colegios{
    float:left;
    display:block;

    height:auto;
    width:222px;

    padding-bottom:30px;
}

#contenedor_metodos_pago{
    float:left;
    display:block;

    height:auto;
    width:222px;

    padding-bottom:30px;
}

.logo_colegio{
    float:left;
    display:block;

    height:auto;
    width:auto;

    cursor:pointer;

    margin-top:20px;
    margin-left:10px;
}

.logo_mis_colegios{
    float:left;
    display:block;

    height:60px;
    width:60px;

    padding-top:13px;
    padding-bottom:13px;
    padding-left:13px;
    padding-right:13px;
    margin-top:0px;
    margin-left:0px;
    border:0px solid #999;
}

.carril_mis_colegios{
    float:left;
    margin-left:0px;
    height:86px;
    width:auto;
}

.logo_mis_colegios img{
    width:100%;
    height:auto;
}

#contenedor_metodos_pago img{
    float:left;
    display:block;

    margin-top:20px;
}

#contenedor_superior_area{
    float:left;
    display:block;

    height:auto;
    width:620px;

    margin-top:40px;
}

#contenedor_activo{
    float:left;
    display:block;

    height:auto;
    width:940px;

    margin-left:0px;
    margin-top:0px;

    padding-bottom:20px;

    background:#FFFFFF;
}

#titulo_area_apoderado{
    background:url(../images/bg_area_apoderado.png) center no-repeat;
    float:left;
    display:block;

    height:22px;
    width:673px;

    font-family: 'Raleway', sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#FFF;
    text-align:right;

    padding-right:40px;
    padding-top:4px;
}

#contenedor_superior_area{
    float:left;
    display:block;

    height:auto;
    width:692px;

    margin-left:136px;
}

.opcion_area_apoderado{
    float:left;
    display:block;

    height:auto;
    width:200px;
}
.opcion_area_apoderado img{

    display:block;
    cursor:pointer;
    margin:0 auto;
}

.opcion_area_apoderado p{
    display:block;

    width:155px;

    font-family: 'Raleway', sans-serif;
    font-size:13px;
    color:#666;
    font-weight:400;
    margin:15px auto;
    margin-bottom:0px;

}

.opcion_area_apoderado a{
    display:block;

    width:145px;

    font-family: 'Raleway', sans-serif;
    font-size:11px;
    color:#666;
    font-weight:400;
    font-style:italic;
    text-align:right;
    text-decoration:none;

    padding-right:0px;

    margin:0 auto;
}
.opcion_area_apoderado a:hover{
    font-weight:bold;
}
.boder_mid{
    border-left:#CCC 1px dotted;
    border-right:#CCC 1px dotted;
}

#contenedor_inferior_area{
    float:left;
    display:block;

    height:auto;
    width:713px;

    margin-top:55px;
}

#pasos{
    background:url(../images/pasos.png) center no-repeat;
    float:left;
    display:block;

    height:47px;
    width:196px;

    margin-left:60px;
    margin-top:75px;
}
#contenedor_pasos{
    float:left;
    display:block;

    width:370px;
    height:auto;

    margin-left:30px;
}

#contenedor_pasos ul{
    float:left;
    display:block;

    width:370px;
    height:auto;

    margin:0px;
    padding:0px;
}

#contenedor_pasos ul li{
    float:left;
    display:block;

    width:370px;
    height:auto;

    margin:0px;
    padding:0px;
    margin-top:5px;

}

.circulo_num{
    background-color:#7C236D;
    float:left;
    display:block;

    height:23px;
    width:23px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFFFFF;
    text-align:center;

    padding-top:1px;
    padding-right:1px;

    border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
}

#contenedor_pasos ul li span{
    float:left;
    display:block;

    width:330px;
    height:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666;
    text-align:left;

    margin-left:10px;
    margin-top:2px;

    padding-bottom:10px;


    border-bottom:#CCC 1px dotted;
}

#contenedor_acordion{
    float:left;
    display:block;

    height:auto;
    width:940px;

    margin-top:0px;
}

.ventana_acordion{
    float:left;
    display:block;

    height:auto;
    width:920px;

    padding-left:0px;
    padding-right:0px;

    margin-top:0px;
}
.titulo_acordion{
    background:#3EAF28;
    float:left;
    display:block;

    height:35px;
    width:940px;
    padding-top:11px;
}
.titulo_acordion span{
    float:left;
    display:block;

    width:888px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFFFFF;
    text-align:left;

    margin-left:10px;
    margin-top:3px;
}

.titulo_acordion_silver{
    background:#fff;
    float:left;
    display:block;

    height:51px;
    width:940px;
    cursor:pointer;
    padding-top:0px;
    margin-left:0px;
    margin-top:5px;
}
.titulo_acordion_silver span{
    float:left;
    display:block;

    width:660px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:12px;
    color:#3EAF28;
    text-align:left;

    margin-left:10px;
    margin-top:18px;
}

.titulo_acordion_silver2{
    background:url(../img_new/login/back_franja_silver2.jpg) !important;
}


.titulo_acordion_whit{
    background-color:#FFF;
    float:left;
    display:block;

    height:40px;
    width:920px;
    padding-top:0px;
    margin-left:0px;
    margin-top:10px;
}

.titulo_acordion_whit img{
    float:left;
}

.titulo_acordion_whit span{
    float:left;
    display:block;

    width:845px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#666;
    text-align:left;

    margin-left:10px;
    margin-top:12px;
}

.triangulo{
    float:right;
    display:block;
}
.tick{
    float:left;
    display:none;

    margin-top:10px;
}

.tickb{
    float:left;
    display:none;

    margin-top:0px !important;
}

.cuerpo_acordion{
    float:left;
    display:block;

    height:auto;
    width:910px;

    padding-left:10px;
    padding-right:10px;

    padding-bottom:25px;
}

.titulo_acordion_interior{
    float:left;
    display:block;

    width:920px;
    height:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666;
    text-align:left;
    text-transform:uppercase;

    margin-top:20px;
    margin-bottom:10px;
    padding-bottom:2px;

    border-bottom:#666666 1px dotted;
}

#cuerpo_acordion_interior{
    float:left;
    display:block;

    width:700px;
    height:auto;

    margin-bottom:10px;
}

#contenedor_datos_cliente_izq{
    float:left;
    display:block;

    height:auto;
    width:467px;

    margin-left: 13px;
}
#contenedor_datos_cliente_izq span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666;
    text-align:left;
    margin-bottom:10px;
}

#contenedor_datos_cliente_izq label{
    float:left;
    display:block;

    height:auto;
    width:140px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#999999;
    text-align:left;

    overflow:hidden;

    margin-left: 10px;
    margin-bottom:10px;
}

#contenedor_datos_cliente_izq select{
    float:left;
    display:block;

    width:218px;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;

    margin-left: 20px;
}

#contenedor_datos_cliente_der{
    float:left;
    display:block;

    height:auto;
    width:390px;

    margin-left:20px;
}
#contenedor_datos_cliente_der span{
    float:left;
    display:block;

    height:auto;
    width:165px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666;
    text-align:left;
    margin-bottom:10px;
}
#contenedor_datos_cliente_der label{
    float:left;
    display:block;

    height:auto;
    width:218px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#999999;
    text-align:left;

    overflow:hidden;

    margin-bottom:10px;
}

#contenedor_datos_cliente_der select{
    float:left;
    display:block;

    width:218px;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;
}

.contenedor_ticket{
    float:left;
    display:block;

    height:22px;
    width:907px;

    margin-left:13px;
    margin-top:10px;
}

.contenedor_ticket span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;

    margin-top:2px;
}
.contenedor_ticket select{
    float:left;
    display:block;

    width:150px;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;

    margin-left:20px;
}

.contenedor_ticket input{
    float:left;
    display:block;
    border: #999999 1px solid;
    width:130px;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;
    border-radius:5px;
    margin-left:20px;
    padding-left:10px;
    padding-right:10px;
}
#boton_comprar1{
    background-color:#3EAF28;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;

    cursor:pointer;
    color:#FFFFFF;
    cursor:pointer;

    margin-top:1px;
    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
}
#boton_comprar1:active{
    background-size:95% 95%;
}
#boton_comprar2{
    background-color:#3EAF28;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;

    cursor:pointer;
    color:#FFFFFF;
    cursor:pointer;

    margin-top:1px;
    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
}
#boton_comprar2:active{
    background-size:95% 95%;
}

#separador{
    float:left;
    display:block;

    height:25px;
    width:290px;
}
.contenedor_ticket label{
    float:left;
    display:block;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;

    margin-top:2px;
    margin-left:10px;
    margin-right:20px;
}

#boton_volver1{
    background-color:#666;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;

    cursor:pointer;
    color:#FFFFFF;

    margin-left:15px;
    margin-top:1px;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
}
#boton_volver1:active{
    background-size:95% 95%;
}

.fila_detalle_compra{
    float:left;
    display:block;

    width:700px;
    height:auto;

    margin-left:13px;
    margin-top:3px;
    margin-bottom:7px;
}
.fila_detalle_compra span{
    float:left;
    display:block;

    height:auto;
    width:120px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;

    margin-right:15px;
}
.fila_detalle_compra label{
    float:left;
    display:block;

    height:auto;
    width:560px;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;
    text-align:left;
}

#boton_pagar{
    background-color:#3EAF28;
    padding:9px 5px 5px 5px;
    float:left;
    display:block;

    height:18px;
    width:153px;
    color:#FFFFFF;
    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
    margin-left:417px;
}
#boton_pagar:active{
    background-size:95% 95%;
}

#boton_volver2{
    background-color:#666;
    padding:9px 5px 5px 5px;
    float:left;
    display:block;

    height:18px;
    width:90px;
    color:#FFFFFF;
    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
    margin-left:20px;
}
#boton_volver2:active{
    background-size:95% 95%;
}
.cuerpo_acordion_interior img{
    float:right;
    display:block;

    margin-top:0px;
}

#compra_exitosa{
    float:left;
    display:block;

    height: auto;
    width:713px;

    margin-top: 16px;
    margin-bottom: 26px;
}

#monto_total{
    background:#FFF;
    float:left;
    display:block;


    border:none;
}


/*MODIFICA TU CUENTA*/
.fila_datos_apoderado{
    float:left;
    display:block;

    height:auto;
    width:100%;

    margin-top:15px;
}

.columna_datos_apoderado{
    float:left;
    display:block;

    height:24px;
    width:410px;

    padding-left:0px;
}
.columna_datos_apoderado select{
    float:left;
    display:block;

    height:24px;
    width:177px;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-style:italic;
    font-size:13px;
    color:#999999;
    text-align:left;

    padding-left:5px;
}
.columna_datos_apoderado span{
    float:left;
    display:block;

    width:125px;
    height:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;
    margin-left:26px;
    margin-top:2px;
}
.columna_datos_apoderado input{
    float:left;
    display:block;
    border: #999999 1px solid;
    border-radius:5px;
    height:20px;
    width:165px;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:12px;
    color:#666666;
    text-align:left;

    padding-left:10px;

    border:#999999 1px solid;
}
.columna_datos_apoderado input[type="checkbox"] {
    float:left;
    display:block;

    height:15px;
    width:15px;
}

#boton_guardar1{
    background-color:#3EAF28;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;

    color:#FFFFFF;

    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    margin-top:10px;
    border-radius:5px;
    margin-right:0px;
}

#boton_guardar4{
    background-color:#3EAF28;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;
    color:#FFFFFF;
    height:18px;
    width:90px;

    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
    margin-top:20px;
    margin-right:0px;
}

.gris{
    background:#999999 !important;
}

.fila_colegios_cuenta{
    float:left;
    display:block;

    height:auto;
    width:910px;

    margin-top:20px;
    margin-left:0px;
}

.fila_colegios_cuenta span{
    float:left;
    display:block;

    height:auto;
    width:125px;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;

    margin-top:2px;
}
.fila_colegios_cuenta select{
    float:left;
    display:block;

    border-radius:5px;

    height:24px;
    width:213px;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-style:italic;
    font-size:13px;
    color:#999999;
    text-align:left;

    padding-left:5px;
}
#tabla_alumnos{
    float:left;
    display:block;

    border-collapse:collapse;
    border: none;
    margin-top:8px;

    border-left:#999 1px solid;
}
#tabla_alumnos th{
    background:#CCCCCC;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#FFFFFF;
    text-align:center;

    padding-top:2px;
    padding-bottom:2px;

    border-right:#999 1px solid;
}
#tabla_alumnos td{
    background:#E8E8E8;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:center;

    padding-top:5px;
    padding-bottom:5px;

    border-right:#999 1px solid;
}
#tabla_alumnos td input{
    background:none;
    float:left;
    display:block;

    border-radius:5px;

    height:auto;
    width:86%;

    border: #999999 1px solid;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:center;

    margin-left:10px;

    border:none;
}
#tabla_alumnos td select{
    background:none;
    float:left;
    display:block;

    height:auto;
    width:86%;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:center;

    margin-left:10px;

    border:none;
}
.boton_editar{
    background:url(../images/editar.png) center no-repeat;
    float:left;
    display:block;

    height:14px;
    width:14px;

    cursor:pointer;

    margin-left:30px;
}
.boton_editar:hover{
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
}
.boton_editar:active{
    background-size:90% 90%;
}
.boton_eliminar{
    background:url(../images/eliminar.png) center no-repeat;
    float:left;
    display:block;

    height:16px;
    width:12px;

    cursor:pointer;

    margin-left:10px;
}
.boton_eliminar:hover{
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
}
.boton_eliminar:active{
    background-size:90% 90%;
}

#boton_guardar2{
    background-color:#3EAF28;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;

    cursor:pointer;

    color:#FFFFFF;

    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    margin-top:10px;
    border-radius:5px;
}


#boton_guardar2_desactivado{
    background-color:#666666;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;

    font-size:12px;
    color:#FFFFFF;
    margin-top:10px;
    border-radius:5px;

    text-transform:uppercase;
}


#contenedor_inferior_gestor_colegios{
    float:left;
    display:block;

    height:auto;
    width:713px;

    margin-top:20px;

    /*border-top:#666 1px dotted;*/
}


#boton_agregar2{
    background:url(../images/boton_agregar.png) center no-repeat;
    float:right;
    display:block;

    height:22px;
    width:90px;

    cursor:pointer;

    margin-top:0px;
}
#boton_agregar2:active{
    background-size:95% 95%;
}
.fila_datos_apoderado p{
    float:left;
    display:block;

    width:850px;
    height:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;

    margin-left:35px;
    margin-right:35px;
}

.columna_datos_apoderado span a{
    font-family: 'Raleway', sans-serif;
    text-decoration:none;
    color:#0066FF;
    font-style:italic;
}
.columna_datos_apoderado span a:hover{
    text-decoration:underline;
}

.fila_datos_apoderado_border{
    font-family: 'Raleway', sans-serif;
    float:left;
    display:block;

    height:auto;
    width:920px;

    margin-top:25px;
    margin-left:0px;
    padding-bottom:3px;
    margin-bottom:15px;

    border-bottom:#666 1px dotted;
}
.fila_datos_apoderado_border span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#3EAF28;
    text-transform:uppercase;
    text-align:left;
}
.fila_standar{
    float:left;
    display:block;

    height:auto;
    width:703px;

    margin-left:10px;
}
.columna_standar_180{
    float:left;
    display:block;

    height:auto;
    width:180px;
}
.columna_standar_180 span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;
}
.columna_standar_auto{
    float:left;
    display:block;

    height:auto;
    width:auto;
}
.columna_standar_auto span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666666;
    text-align:left;
}

.columna_programar1{
    float:left;
    display:block;

    height:auto;
    width:125px;

    margin-right:60px;
}
.columna_programar1 span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666666;
    text-align:left;
}
.columna_programar2{
    float:left;
    display:block;

    height:auto;
    width:125px;
}
.columna_programar2 span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666666;
    text-align:left;
}
.fila_standar input[type="radio"]{
    float:right;
    display:block;
}
#boton_guardar3{
    background-color:#3EAF28;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;

    cursor:pointer;
    color:#FFFFFF;
    margin-top:10px;

    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;

}


#boton_limpiar{
    background-color:#666;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;
    font-family: 'Raleway', sans-serif;
    cursor:pointer;
    color:#FFFFFF;
    margin-top:10px;
    margin-right:15px;
    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
}
#boton_limpiar:active{
    background-size:95% 95%;
}
/*FIN MODIFICA TU CUENTA*/


/* DUDAS Y CONSULTAS*/
.fila_colegios_cuenta textarea{
    float:left;
    display:block;

    height:100px;
    width:400px;

    max-width:530px;

    padding:5px 10px 5px 10px;

    border-radius:5px;

    border:#999999 1px solid;
    font-family: 'Raleway', sans-serif;
}
#boton_enviar{
    background-color:#3EAF28;
    padding:9px 5px 5px 5px;
    float:right;
    display:block;

    height:18px;
    width:90px;

    cursor:pointer;
    color:#FFFFFF;
    margin-right: 180px;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
    font-family: 'Raleway', sans-serif;


}
#boton_enviar:active{
    background-size:95% 95%;
}


/* FIN DUDAS Y CONSULTAS*/



/* COMPROBANTE*/

#boton_imprimmir{
    background:#D71B17;
    font-family: 'Raleway', sans-serif;

    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;

    float: right;
    margin-right: 30px;

    padding:2px 10px 2px 10px;

    border:none;
}
#boton_volver_comprar{
    background:#D71B17;
    font-family: 'Raleway', sans-serif;

    font-size:12px;
    color:#FFFFFF;
    cursor:pointer;

    float: right;
    margin-right: 10px;

    padding:2px 10px 2px 10px;

    border:none;
}

#contenedor_politicas{
    background:#FFFFFF;
    position:absolute;
    display:none;

    height:255px;
    width:400px;

    left:0;
    right:0;
    top:0;
    bottom:0;

    margin:auto;

    text-align:left;
    font-family: 'Raleway', sans-serif;
    font-size:12px;

    padding-left:20px;
    padding-right:20px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index:100;
}
#contenedor_politicas h3{
    font-size:16px;
    text-align:center;
}
#contenedor_politicas li{
    margin-top:10px;
}
#boton_cerrar_box{
    background:url(../images/boton_cerrar.png) center no-repeat;
    float:left;
    display:block;

    height:22px;
    width:90px;
    cursor:pointer;

    margin-left:150px;
    margin-top:20px;
}
#boton_cerrar_box:active{
    background-size:95% 95%;
}
#fondo_box{
    background:#000000;
    position:fixed;
    display:none;

    height:100%;
    width:100%;

    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 100;
}

#contenedor_fracaso {
    background: #FFFFFF;
    position: absolute;
    display: block;

    height: 130px;
    width: 600px;

    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #FF0000;

    margin-left: 0px;
    margin-top: 96px;
    padding-right: 10px;


    z-index: 10px;
}
#contenedor_fracaso p{
    margin-left: 13px;
}
/* FIN COMPROBANTE */

/* DETALLE DE COMPRA*/
#tabla_detalle_compra{
    margin-left:0px;
    float:left;
}
#tabla_detalle_compra td{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #666666;
    font-weight:normal;

    height:28px;

    padding-top:9px;
    padding-bottom:9px;

    border-bottom:#CCCCCC 1px dotted;
}
#tabla_detalle_compra th{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #666666;
    font-weight:bold;
    height:28px;
    padding-top:9px;
    padding-bottom:9px;

    border-bottom:#CCCCCC 1px dotted;
}
#tabla_detalle_compra img{
    cursor:pointer;
}
#contenedor_comprobante{
    position:fixed;
    display:none;

    height:475px;
    width:700px;

    top:0;
    bottom:0;
    left:0;
    right:0;

    margin:auto;

    z-index:-100;
}
/* FIN DETALLE DE COMPRA*/

.encab_titulo{
    float:left;
    height:60px;
    width:100%;
    background-color:#3EAF28;
    font-family: 'Raleway', sans-serif;
    margin-top:0px;
    /*margin:0 auto !important;*/
}



.contitulo_verde{
    background:#3EAF28;
}

.contitulo_silver{
    background-color:#EFEFEF;
}

.titulo_tit{
    margin:0 auto;
    height:33px;
    width:940px !important;
    text-transform:uppercase;
    text-align:left;
}

.titulo_det{
    float:left;
    height:33px;
    width:230px !important;
    text-transform:uppercase;
    text-align:left;
}

.titulo_izk{
    float:left;
    height:29px;
    width:738px !important;
    text-transform:uppercase;
    text-align:left;
    text-align:center;
    font-size:12px;
}



.titulo_der_color_red{
    color:#C90E2B;
    padding-left:0px;
    padding-top:13px;
    font-weight:bold;
}


.titulo_der_color_white2{
    color:#fff;
    padding-left:0px;
    padding-top:17px;
    font-weight:bold;
}

.titulo_der_color_white{
    color:#fff;
    padding-left:20px;
    padding-top:21px;
    font-weight:bold;
}

.contenedor_centrador_ap{
    float:left;
    display:block;

    height:46px;
    width:100%;

    border:0px solid #666;
    background-color: #EEEEEE;
}

.contitulo_rojo table tr th{
    font-family: 'Raleway', sans-serif;
    text-transform:uppercase;
    color:#FFFFFF;
    font-size:14px;
    height:34px;
    padding-top:5px;
}


.back_rec{
    float:left;
    height:auto;
    width:auto;
    background-color:#fff;
}

.fila_datos_apoderado_snborder{
    float:left;
    display:block;

    height:auto;
    width:920px;

    padding-left:10px;
    padding-right:10px;

    margin-top:25px;
    margin-left:0px;
    padding-bottom:3px;
    margin-bottom:15px;

}
.fila_datos_apoderado_snborder span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#3EAF28;
    text-transform:uppercase;
    text-align:left;
}

.newst{
    font-size:12px !important;
    margin-left:58px !important;
}


.cont_fac_col{
    float:left;
    background-color:#FFFFFF;
    height:86px;
    width:100%;
}

.cont_face_colegios{
    margin:0 auto;
    width:940px;
    height:86px;
}

.area_face{
    float:left;
    width:156px;
    height:86px;
    border-right: 1px dotted #CCCCCC;
    text-align:center;
}

.area_face span{
    color:#666;
    font-size:12px;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
}

.foto_face{
    float:left;
    height:62px;
    width:156px;

}

.face_img{
    float:left;
    width:48px;
    height:48px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius:30px;
    border:2px solid #999;
    margin-left:54px;
    background-size:100% auto;
    background-repeat:no-repeat;
}

.face_img img{
    width:100%;
    height:auto;
}

.contenedor_tus_colegios{
    float:left;
    width:803px;
    height:86px;
}

.cont_mis_colegios{
    float:left;
    width:250px;
    height:50px;
    padding-top:36px;

    font-family: 'Raleway', sans-serif;
    font-size:15px;
    text-transform:uppercase;
    color:#C90E2B;
    font-weight:bold;
}

.area_fotos_colegios{
    float:left;
    width:552px;
    height:86px;
}

.flecha_direccion{
    float:left;
    width:18px;
    height:86px;
}

.flecha_direccion:hover{
    opacity:0.5;
    cursor:pointer;
}

.flecha_direccion img{
    float:left;
    margin-top:28px;
}

.carril_fotos_mis_colegios{
    float:left;
    height:86px;
    width:516px;
    overflow:hidden;
}





