#contenedor_cuerpo{
    margin:0 auto;
    display:block;

    height:auto;
    width:1201px;

    background:#FFFFFF;
}

#contenedor_izq{
    float:left;
    display:block;

    height:auto;
    width:1183px;

    margin: 10px 0px;
}
#contenedor_panel_control{
    float:left;
    display:block;

    height:auto;
    width:1183px;

    padding-bottom:0px;
}

.titulo_panel_izq{
    background:url(../images/bg_titulo_panel_control.png) center no-repeat;
    float:left;
    display:block;

    height:22px;
    width:222px;

    font-family: 'Quicksand', sans-serif;
    font-size:16px;
    color:#FFF;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;

    padding-top:4px;
}

#contenedor_panel_control ul{
    float:left;
    display:block;

    background-color:#ffffff;

    height:auto;
    width:1183px;

    margin:0;
    padding:0;
    margin-top:	0px;
}
#contenedor_panel_control ul li{
    float:left;
    display:block;
    height:182px;
    width:104px;
    margin:0;
    padding: 0px 10px 0px 10px;
    border-bottom:#fff 0px solid;
}

#contenedor_panel_control li img{
    float:left;
    display:block;
    padding-top: 9px;
    padding-bottom: 20px;
}

#contenedor_panel_control li a{
    width:24px;
    height:24px;

    display:block;

    font-family: 'Quicksand', sans-serif;
    font-size:12px;
    color:#fff;
    text-decoration:none;
    font-weight:bold;

    margin-left:42px;
    margin-top:6px;
}

#contenedor_panel_control li a:hover{
    text-decoration:underline;
    opacity: 0.5;
}

#contenedor_mis_colegios{
    float:left;
    display:block;

    height:auto;
    width:222px;

    padding-bottom:30px;
}

#contenedor_metodos_pago{
    float:left;
    display:block;

    height:auto;
    width:222px;

    padding-bottom:30px;
}

.logo_colegio{
    float:left;
    display:block;

    height:auto;
    width:auto;

    cursor:pointer;

    margin-top:20px;
    margin-left:10px;
}

.logo_mis_colegios{
    float:left;
    display:block;

    height:60px;
    width:60px;

    padding-top:13px;
    padding-bottom:13px;
    padding-left:13px;
    padding-right:13px;
    margin-top:0px;
    margin-left:0px;
    border:0px solid #999;
}

.carril_mis_colegios{
    float:left;
    margin-left:0px;
    height:86px;
    width:auto;
}

.logo_mis_colegios img{
    width:100%;
    height:auto;
}

#contenedor_metodos_pago img{
    float:left;
    display:block;

    margin-top:20px;
}

#contenedor_superior_area{
    float: left;
    display: block;
    height: auto;
    width: 1183px;
    padding-top: 15px;
}

#contenedor_activo{
    float: left;
    display: block;
    height: auto;
    width: 1183px;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    background: #FFFFFF;
    margin-bottom: 20px;
}

#titulo_area_apoderado{
    background:url(../images/bg_area_apoderado.png) center no-repeat;
    float:left;
    display:block;

    height:22px;
    width:673px;

    font-family: 'Quicksand', sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#FFF;
    text-align:right;

    padding-right:40px;
    padding-top:4px;
}

.opcion_area_apoderado{
    float:left;
    display:block;

    height:auto;
    width:200px;
}
.opcion_area_apoderado img{

    display:block;
    cursor:pointer;
    margin:0 auto;
}

.opcion_area_apoderado p{
    display:block;

    width:155px;

    font-family: 'Quicksand', sans-serif;
    font-size:13px;
    color:#666;
    font-weight:400;
    margin:15px auto;
    margin-bottom:0px;

}

.opcion_area_apoderado a{
    display:block;

    width:145px;

    font-family: 'Quicksand', sans-serif;
    font-size:11px;
    color:#666;
    font-weight:400;
    font-style:italic;
    text-align:right;
    text-decoration:none;

    padding-right:0px;

    margin:0 auto;
}
.opcion_area_apoderado a:hover{
    font-weight:bold;
}
.boder_mid{
    border-left:#CCC 1px dotted;
    border-right:#CCC 1px dotted;
}

#contenedor_inferior_area{
    float:left;
    display:block;

    height:auto;
    width:713px;

    margin-top:55px;
}

#pasos{
    background:url(../images/pasos.png) center no-repeat;
    float:left;
    display:block;

    height:47px;
    width:196px;

    margin-left:60px;
    margin-top:75px;
}
#contenedor_pasos{
    float:left;
    display:block;

    width:370px;
    height:auto;

    margin-left:30px;
}

#contenedor_pasos ul{
    float:left;
    display:block;

    width:370px;
    height:auto;

    margin:0px;
    padding:0px;
}

#contenedor_pasos ul li{
    float:left;
    display:block;

    width:370px;
    height:auto;

    margin:0px;
    padding:0px;
    margin-top:5px;

}

.circulo_num{
    background-color:#7C236D;
    float:left;
    display:block;

    height:23px;
    width:23px;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFFFFF;
    text-align:center;

    padding-top:1px;
    padding-right:1px;

    border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    -webkit-border-radius:15px;
}

#contenedor_pasos ul li span{
    float:left;
    display:block;

    width:330px;
    height:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666;
    text-align:left;

    margin-left:10px;
    margin-top:2px;

    padding-bottom:10px;


    border-bottom:#CCC 1px dotted;
}

#contenedor_acordion{
    float: left;
    display: block;
    height: auto;
    width: 1183px;
    margin-top: 0px;
}

.ventana_acordion{
    float: left;
    display: block;
    height: auto;
    width: 1183px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    background: #ffffff;
}
.titulo_acordion{
    background: #0A4187;
    float: left;
    display: block;
    height: 35px;
    width: 1183px;
    padding-top: 11px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #eee;
    margin-bottom: 17px;
}
.titulo_acordion span{
    float:left;
    display:block;

    width:888px;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFFFFF;
    text-align:left;

    margin-left:10px;
    margin-top:3px;
}

.titulo_acordion_silver{
    background:#fff;
    float:left;
    display:block;

    height:51px;
    width:1201px;
    cursor:pointer;
    padding-top:0px;
    margin-left:0px;
    margin-top:5px;
}
.titulo_acordion_silver span{
    float: left;
    display: block;
    width: 1065px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #3EAF28;
    text-align: left;
    margin-left: 10px;
    margin-top: 18px;
}

.titulo_acordion_silver2{
    background:url(../img_new/login/back_franja_silver2.jpg) !important;
}


.titulo_acordion_whit{
    background-color:#FFF;
    float:left;
    display:block;

    height:40px;
    width:1183px;
    padding-top:0px;
    margin-left:0px;
    margin-top:10px;
}

.titulo_acordion_whit img{
    float:left;
    padding: 4px;
}

.titulo_acordion_whit span{
    float:left;
    display:block;

    width:845px;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#666;
    text-align:left;

    margin-left:10px;
    margin-top:12px;
}

.triangulo{
    float:right;
    display:block;
}
.tick{
    float:left;
    display:none;

    margin-top:10px;
}

.tickb{
    float: right;
    margin-right: 18px;

    margin-top:0px !important;
}

.cuerpo_acordion{
    float: left;
    display: block;
    height: auto;
    width: 1183px;

    padding-bottom: 25px;
}

.titulo_acordion_interior{
    float: left;
    display: block;
    width: 1183px;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #033F89;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 2px;
}

#cuerpo_acordion_interior{
    float:left;
    display:block;

    width:700px;
    height:auto;

    margin-bottom:10px;
}

#contenedor_datos_cliente_izq{
    float: left;
    display: block;
    height: auto;
    width: 799px;
    margin-left: 70px;
    border-right: solid;
    border-width: thin;
    border-color: #eee;
    margin-right: 9px;

}
#contenedor_datos_cliente_izq span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:15px;
    color:#666;
    text-align:left;
    margin-bottom:10px;
}

#contenedor_datos_cliente_izq label{
    float:left;
    display:block;

    height:auto;
    width:190px;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:15px;
    color:#999999;
    text-align:left;

    overflow:hidden;

    margin-left: 10px;
    margin-bottom:10px;
}

#contenedor_datos_cliente_izq select{
    float: left;
    display: block;
    width: 306px;
    height: 43px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    padding-left: 10px;
}

#contenedor_datos_cliente_der{
    float: left;
    display: block;
    height: auto;
    width: 287px;
    margin-left: 0;
}
#contenedor_datos_cliente_der span{
    float:left;
    display:block;

    height:auto;
    width:165px;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666;
    text-align:left;
    margin-bottom:10px;
}
#contenedor_datos_cliente_der label{
    float:left;
    display:block;

    height:auto;
    width:218px;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#999999;
    text-align:left;

    overflow:hidden;

    margin-bottom:10px;
}

#contenedor_datos_cliente_der select{
    font-size:13px;
    color:#999999;
    float: left;
    display: block;
    width: 306px;
    height: 43px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    padding-left: 10px;
}

.contenedor_ticket{
    float:left;
    display:block;

    height:22px;
    width:907px;

    margin-left:13px;
    margin-top:10px;
}

.contenedor_ticket span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;

    margin-top:2px;
}
.contenedor_ticket select{
    float:left;
    display:block;

    width:150px;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;

    margin-left:20px;
}

.contenedor_ticket input{
    float:left;
    display:block;
    border: #999999 1px solid;
    width:130px;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;
    border-radius:5px;
    margin-left:20px;
    padding-left:10px;
    padding-right:10px;
}
#boton_comprar1{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #003F86;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #003F86;
    text-decoration: none;
    cursor: pointer;
}
#boton_comprar1:hover{
    background: #003F86;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#boton_comprar1:active{
    background-size:95% 95%;
}
#boton_comprar2{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #003F86;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #003F86;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
}
#boton_comprar2:hover{
    background: #003F86;
    border: 1px solid #ffffff;
    color: #ffffff;
}
#boton_comprar2:active{
    background-size:95% 95%;
}

#separador{
    float: left;
    display: block;
    height: 25px;
    width: 363px;
}
.contenedor_ticket label{
    float:left;
    display:block;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;

    margin-top:2px;
    margin-left:10px;
    margin-right:20px;
}

#boton_volver1{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #6DC200;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #6DC200;
    text-decoration: none;
    cursor: pointer;
}
#boton_volver1:hover{
    background: #6DC200;
    border: 1px solid #ffffff;
    color: #ffffff;

}
#boton_volver1:active{
    background-size:95% 95%;
}

.fila_detalle_compra{
    float:left;
    display:block;

    width:700px;
    height:auto;

    margin-left:13px;
    margin-top:3px;
    margin-bottom:7px;
}
.fila_detalle_compra span{
    float:left;
    display:block;

    height:auto;
    width:120px;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;

    margin-right:15px;
}
.fila_detalle_compra label{
    float:left;
    display:block;

    height:auto;
    width:560px;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#999999;
    text-align:left;
}


#finalizar_home{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #003F86;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #003F86;
    text-decoration: none;
    cursor: pointer;
    margin-top: 6px;
}
#finalizar_home:hover{
    background: #003F86;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#boton_pagar{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #003F86;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #003F86;
    text-decoration: none;
    cursor: pointer;
    margin-top: 6px;
}
#boton_pagar:hover{
    background: #003F86;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#boton_pagar_transf{
    background:#3EAF28;
    padding:3px 5px 12px 5px;
    float:left;
    display:block;

    height:18px;
    width:153px;
    color:#FFFFFF;
    cursor:pointer;
    text-transform:uppercase;
    font-size:12px;
    border-radius:5px;
    margin-left:417px;
}
#boton_pagar_transf:hover{
    background:#FFFFFF;
    color:#3EAF28;
}
#boton_pagar:active{
    background-size:95% 95%;
}

#boton_volver2{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #6DC200;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #6DC200;
    text-decoration: none;
    cursor: pointer;
    margin-top: 7px;
}
#boton_volver2:hover{
    background: #6DC200;
    border: 1px solid #ffffff;
    color: #ffffff;
}
#boton_volver2:active{
    background-size:95% 95%;
}
.cuerpo_acordion_interior img{
    float:right;
    display:block;

    margin-top:0px;
}

#compra_exitosa{
    float:left;
    display:block;

    height: auto;
    width:713px;

    margin-top: 16px;
    margin-bottom: 26px;
}

#monto_total{
    background: #FFF;
    float: right;
    display: block;
    border: none;
    width: 101px;
    font-size: 15px;
}


/*MODIFICA TU CUENTA*/
.fila_datos_apoderado{
    float:left;
    display:block;

    height:auto;
    width:100%;

    margin-top:15px;
}

.columna_datos_apoderado{
    float:left;
    display:block;

    height:24px;
    width:410px;

    padding-left:0px;
}
.modificarespasio {
    width: 380px;
    height: 67px;
}
.columna_datos_apoderado select{
    float: left;
    display: block;
    width: 306px;
    height: 43px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    padding-left: 10px;
}
.columna_datos_apoderado span{
    float:left;
    display:block;

    width:125px;
    height:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;
    margin-left:26px;
    margin-top:2px;
}
.columna_datos_apoderado input{
    float: left;
    display: block;
    width: 306px;
    height: 43px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    padding-left: 10px;
}
.columna_datos_apoderado input[type="checkbox"] {
    float:left;
    display:block;

    height:15px;
    width:15px;
}

#boton_guardar1{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #3EAF28;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #3EAF28;
    text-decoration: none;
    cursor: pointer;
    margin-top: 88px;
}
#boton_guardar1:hover{
    background: #3EAF28;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#boton_guardar4{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #3EAF28;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #3EAF28;
    text-decoration: none;
    cursor: pointer;
    margin-top: 43px;
}
#boton_guardar4:hover{
    background: #3EAF28;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.gris{
    background:#999999 !important;
}

.fila_colegios_cuenta{
    float:left;
    display:block;

    height:auto;
    width:910px;

    margin-top:20px;
    margin-left:0px;
}

.fila_colegios_cuenta span{
    float:left;
    display:block;

    height:auto;
    width:125px;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;

    margin-top:2px;
}
.fila_colegios_cuenta select{
    float:left;
    display:block;

    border-radius:5px;

    height:24px;
    width:213px;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-style:italic;
    font-size:13px;
    color:#999999;
    text-align:left;

    padding-left:5px;
}
#tabla_alumnos{
    float: left;
    display: block;
    border-collapse: collapse;
    margin-top: 8px;
}
#tabla_alumnos th{
    background: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #444444;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#tabla_alumnos td{
    background: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #444444;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#tabla_alumnos td input{
    background: none;
    float: left;
    display: block;
    border-radius: 5px;
    height: auto;
    width: 86%;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #666666;
    text-align: center;
    margin-left: 10px;
    border: none;
}
#tabla_alumnos td select{
    background:none;
    float:left;
    display:block;

    height:auto;
    width:86%;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:center;

    margin-left:10px;

    border:none;
}
.boton_editar{
    background:url(../imagenes/editar.png) center no-repeat;
    float:left;
    display:block;

    height:24px;
    width:24px;

    cursor:pointer;

    margin-left:30px;
}
.boton_editar:hover{
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}
.boton_editar:active{
    background-size:90% 90%;
}
.boton_eliminar{
    background:url(../imagenes/eliminar.png) center no-repeat;
    float:left;
    display:block;

    height:24px;
    width:22px;

    cursor:pointer;

    margin-left:10px;
}
.boton_eliminar:hover{
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}
.boton_eliminar:active{
    background-size:90% 90%;
}

#boton_guardar2{
     float: left;
     background: #ffffff;
     width: 200px;
     height: 22px;
     padding-top: 10px;
     padding-left: 40px;
     padding-right: 40px;
     border-radius: 34px;
     border: 1px solid #3EAF28;
     font-family: 'Quicksand', sans-serif;
     font-size: 10px;
     text-align: center;
     text-transform: uppercase;
     color: #3EAF28;
     text-decoration: none;
     cursor: pointer;
     margin-bottom: 12px;
     margin-top: 0px;
 }
#boton_guardar2:hover{
    background: #3EAF28;
    border: 1px solid #ffffff;
    color: #ffffff;
}


#boton_guardar2_desactivado{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #666666;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 0px;
}


#contenedor_inferior_gestor_colegios{
    float:left;
    display:block;

    height:auto;
    width:713px;

    margin-top:20px;

    /*border-top:#666 1px dotted;*/
}


#boton_agregar2{
    background:url(../images/boton_agregar.png) center no-repeat;
    float:right;
    display:block;

    height:22px;
    width:90px;

    cursor:pointer;

    margin-top:0px;
}
#boton_agregar2:active{
    background-size:95% 95%;
}
.fila_datos_apoderado p{
    float:left;
    display:block;

    width:850px;
    height:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:15px;
    color:#666666;
    text-align:left;

    margin-left:35px;
    margin-right:35px;
}

.columna_datos_apoderado span a{
    font-family: 'Quicksand', sans-serif;
    text-decoration:none;
    color:#0066FF;
    font-style:italic;
}
.columna_datos_apoderado span a:hover{
    text-decoration:underline;
}

.fila_datos_apoderado_border{
    font-family: 'Quicksand', sans-serif;
    float:left;
    display:block;

    height:auto;
    width:920px;

    margin-top:25px;
    margin-left:0px;
    padding-bottom:3px;
    margin-bottom:15px;

}
.fila_datos_apoderado_border span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#3EAF28;
    text-transform:uppercase;
    text-align:left;
}

.fila_standar{
    float:left;
    display:block;

    height:auto;
    width:785px;

    margin-left:10px;
}

.columna_standar_180{
    float:left;
    display:block;

    height:auto;
    width:180px;
}
.columna_standar_180 span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#666666;
    text-align:left;
}
.columna_standar_auto{
    float:left;
    display:block;

    height:auto;
    width:auto;
}
.columna_standar_auto span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666666;
    text-align:left;
}

.columna_programar1{
    float:left;
    display:block;

    height:auto;
    width:148px;

    margin-right:40px;
}
.columna_programar1 span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666666;
    text-align:left;
}
.columna_programar2{
    float:left;
    display:block;

    height:auto;
    width:148px;
}
.columna_programar2 span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:normal;
    font-size:13px;
    color:#666666;
    text-align:left;
}
.fila_standar input[type="radio"]{
    float:right;
    display:block;
}
#boton_guardar3{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #3EAF28;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #3EAF28;
    text-decoration: none;
    cursor: pointer;
    margin-top: 88px;
}
#boton_guardar3:hover{
    background: #3EAF28;
    border: 1px solid #ffffff;
    color: #ffffff;
}


#boton_limpiar{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #444444;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    text-decoration: none;
    cursor: pointer;
    margin-top: 88px;
}
#boton_limpiar:hover{
    background: #444444;
    color: #ffffff;
    border: 1px solid #444444;
}
#boton_limpiar:active{
    background-size:95% 95%;
}
/*FIN MODIFICA TU CUENTA*/


/* DUDAS Y CONSULTAS*/
.fila_colegios_cuenta textarea{
    float: left;
    display: block;
    height: 100px;
    width: 579px;
    max-width: 598px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: #999999 1px solid;
    font-family: 'Quicksand', sans-serif;
    margin-left: 8px;
}
#boton_enviar{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #3EAF28;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #3EAF28;
    text-decoration: none;
    cursor: pointer;
    margin-top: 88px;
}
#boton_enviar:hover{
    background:#3EAF28;
    color:#ffffff;
}
#boton_enviar:active{
   opacity: 0.5;
}


/* FIN DUDAS Y CONSULTAS*/



/* COMPROBANTE*/

#boton_imprimmir{
    float: left;
    background: #ffffff;
    width: 281px;
    height: 36px;
    padding-top: 6px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #72b814;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #72b814;
    text-decoration: none;
    cursor: pointer;
    margin-top: 7px;
}
#boton_imprimmir:hover{
    background: #72b814;
    border: 1px solid #ffffff;
    color: #ffffff;
}
#boton_volver_comprar{
    float: left;
    background: #ffffff;
    width: 281px;
    height: 36px;
    padding-top: 6px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #D71B17;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #D71B17;
    text-decoration: none;
    cursor: pointer;
    margin-top: 7px;
}
#boton_volver_comprar{
    background: #D71B17;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#contenedor_politicas{
    background:#FFFFFF;
    position:absolute;
    display:none;

    height:255px;
    width:400px;

    left:0;
    right:0;
    top:0;
    bottom:0;

    margin:auto;

    text-align:left;
    font-family: 'Quicksand', sans-serif;
    font-size:12px;

    padding-left:20px;
    padding-right:20px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index:100;
}
#contenedor_politicas h3{
    font-size:16px;
    text-align:center;
}
#contenedor_politicas li{
    margin-top:10px;
}
#boton_cerrar_box{
    background:url(../images/boton_cerrar.png) center no-repeat;
    float:left;
    display:block;

    height:22px;
    width:90px;
    cursor:pointer;

    margin-left:150px;
    margin-top:20px;
}
#boton_cerrar_box:active{
    background-size:95% 95%;
}
#fondo_box{
    background:#000000;
    position:fixed;
    display:none;

    height:100%;
    width:100%;

    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 100;
}

#contenedor_fracaso {
    background: #FFFFFF;
    position: absolute;
    display: block;

    height: 130px;
    width: 600px;

    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #FF0000;

    margin-left: 0px;
    margin-top: 96px;
    padding-right: 10px;


    z-index: 10px;
}
#contenedor_fracaso p{
    margin-left: 13px;
}
/* FIN COMPROBANTE */

/* DETALLE DE COMPRA*/
#tabla_detalle_compra{
    margin-left:0px;
    float:left;
}
#tabla_detalle_compra td{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: #444444;
    font-weight: 500;
    height: 28px;
    padding-top: 9px;
    padding-bottom: 9px;
}
#tabla_detalle_compra th{
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    color: #666666;
    font-weight:bold;
    height:28px;
    padding-top:9px;
    padding-bottom:9px;

    border-bottom:#CCCCCC 1px dotted;
}
#tabla_detalle_compra img{
    cursor:pointer;
}
#contenedor_comprobante{
    position:fixed;
    display:none;

    height:475px;
    width:700px;

    top:0;
    bottom:0;
    left:0;
    right:0;

    margin:auto;

    z-index:-100;
}
/* FIN DETALLE DE COMPRA*/

.encab_titulo{
    float:left;
    height:60px;
    width:1183px;
    background-color:#3EAF28;
    font-family: 'Quicksand', sans-serif;
    margin-top:0px;
    /*margin:0 auto !important;*/
}



.contitulo_verde{
    background:#3EAF28;
}

.contitulo_silver{
    background-color:#EFEFEF;
}

.titulo_tit{
    margin:0 auto;
    height:33px;
    width:940px !important;
    text-transform:uppercase;
    text-align:left;
}

.titulo_det{
    float:left;
    height:33px;
    width:230px !important;
    text-transform:uppercase;
    text-align:left;
}

.titulo_izk{
    float:left;
    height:29px;
    width:738px !important;
    text-transform:uppercase;
    text-align:left;
    text-align:center;
    font-size:12px;
}



.titulo_der_color_red{
    color:#C90E2B;
    padding-left:0px;
    padding-top:13px;
    font-weight:bold;
}


.titulo_der_color_white2{
    color:#fff;
    padding-left:0px;
    padding-top:17px;
    font-weight:bold;
}

.titulo_der_color_white{
    color: #fff;
    padding-left: 20px;
    padding-top: 21px;
    font-weight: bold;
    width: 1161px !important;
    text-align: center;
}

.contenedor_centrador_ap{
    float:left;
    display:block;

    height:46px;
    width:100%;

    border:0px solid #666;
    background-color: #EEEEEE;
}

.contitulo_rojo table tr th{
    font-family: 'Quicksand', sans-serif;
    text-transform:uppercase;
    color:#FFFFFF;
    font-size:14px;
    height:34px;
    padding-top:5px;
}


.back_rec{
    float:left;
    height:auto;
    width:auto;
    background-color:#fff;
}

.fila_datos_apoderado_snborder{
    float:left;
    display:block;

    height:auto;
    width:920px;

    padding-left:10px;
    padding-right:10px;

    margin-top:25px;
    margin-left:0px;
    padding-bottom:3px;
    margin-bottom:15px;

}
.fila_datos_apoderado_snborder span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#3EAF28;
    text-transform:uppercase;
    text-align:left;
}

.newst{
    font-size:12px !important;
    margin-left:58px !important;
}


.cont_fac_col{
    float:left;
    background-color:#FFFFFF;
    height:86px;
    width:100%;
}

.cont_face_colegios{
    margin:0 auto;
    width:940px;
    height:86px;
}

.area_face{
    float:left;
    width:156px;
    height:86px;
    border-right: 1px dotted #CCCCCC;
    text-align:center;
}

.area_face span{
    color:#666;
    font-size:12px;
    font-weight:bold;
    font-family: 'Quicksand', sans-serif;
}

.foto_face{
    float:left;
    height:62px;
    width:156px;

}

.face_img{
    float:left;
    width:48px;
    height:48px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius:30px;
    border:2px solid #999;
    margin-left:54px;
    background-size:100% auto;
    background-repeat:no-repeat;
}

.face_img img{
    width:100%;
    height:auto;
}

.contenedor_tus_colegios{
    float:left;
    width:803px;
    height:86px;
}

.cont_mis_colegios{
    float:left;
    width:250px;
    height:50px;
    padding-top:36px;

    font-family: 'Quicksand', sans-serif;
    font-size:15px;
    text-transform:uppercase;
    color:#C90E2B;
    font-weight:bold;
}

.area_fotos_colegios{
    float:left;
    width:552px;
    height:86px;
}

.flecha_direccion{
    float:left;
    width:18px;
    height:86px;
}

.flecha_direccion:hover{
    opacity:0.5;
    cursor:pointer;
}

.flecha_direccion img{
    float:left;
    margin-top:28px;
}

.carril_fotos_mis_colegios{
    float:left;
    height:86px;
    width:516px;
    overflow:hidden;
}
.contitulo_azul{
    background:#104385;
}
.cont_coles {
    background: #ffffff;
    float: left;
    width: 1183px;
    height: 108px;
    margin: 10px 0px;
}

.text_colegios{
    float: left;
    width: 181px;
    padding: 41px 1px;
    color: #0A4187;
}

.text_titulo_home{
    height: auto;
    width: 163px;
    padding: 48px 48px 18px 30px;
    color: #0A3F85;
    margin-top: 167px;
    font-size: 1.2em;
    font-weight: bold;
}

.text_detalle_home{
    height: auto;
    color: #444444;
    font-size: 0.9em;
    width: 248px;
    margin-left: -15px;
}
#mes{
    float: left;
    display: block;
    width: 306px;
    height: 43px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    padding-left: 10px;
}
.fondo_cargador{
    background: #eee;
    width: 900px;
    height: 100px;
    margin: 0 122px;
}

.columna_standar_230{
    float:left;
    display:block;

    height:auto;
    width:230px;
}
.columna_standar_230 span{
    float:left;
    display:block;

    height:auto;
    width:auto;

    font-family: 'Quicksand', sans-serif;
    font-weight:bold !important;
    font-size:17px !important;
    color:#023F88 !important;
    text-align:left;
}

.pf_marco{
    width: 1201px;
    height: auto;
}
.pf_interno{
    width: 1201px;
    min-height: 86px;
    padding-top: 34px
}
.pf_interno span{
    float: left;
    display: block;
    margin-left: 30px;
    margin-top: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #013F87;
    width: 1000px;
    text-align: left;
}
.pf_cuerpo{
    width: 1107px;
    height: auto;
    float: left;
}
.pf_cuerpo p{
    float: left;
    padding-left: 31px;
    width: 999px;
    text-align: left;
}