
body, html{
	text-align:center;
	background:#FFFFFF;
	margin:0;
}

.contenedor_proncipal{
	margin:auto;
	
	position:fixed;
	
	width:100%;
	height:600px;	
	
	top:0;
	bottom:0;
	left:0;
	right:0;
	
	/*border-top:15px solid #3EAF28;
	border-bottom:15px solid #3EAF28;*/
}


.contenedor_secundario{
    background-color: #FFFFFF;
	float:left;	
	width:100%;
	height:470px;
	border-top:15px solid #104385;
	border-bottom:15px solid #104385;
}

.contenedor_encontruccion{
		position:absolute;
		width:450px;
		height:400px;
		background:url(../imagenes/imagen_contruccion.png) no-repeat;
		
		margin-left:-225px;
		left:50%;

}

.contenedor_derechos{
	height:9px;
	position:absolute;
	width:265px;
	position:absolute;
    font-family: 'Ubuntu', helvetica, arial, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    text-transform: uppercase;
	margin-left:-133px;
	left:50%;
	margin-top:525px;
	
	
}