
.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-right: 21px;
    font-family: helvetica;
    font-size: 17px;
    color: #A8BE46;
    background-color: transparent;
    width: 199px;
    height: 45px;
    border-radius: 41px;
    border: 1px solid #A8BE46;
    background-image: url(../imagenes/home/derecha.png);
    background-position: 139px;
    background-repeat: no-repeat;
    font-weight: bold;
}
.boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
}
html, body{
		margin:0;
		text-align:center;
		font-family: 'Quicksand', sans-serif;
		background-color:#eee;
	}
img{
	border:none;	
}	


/* Estructura General Pagina */

#contenedor_header{
	background-color:#ffffff;
	float:left;
	width:100%;
	height:127px;
}
	
#contenedor_footer{
	background-color:#76BA14;
	border-top:#67A604 0px solid;
	float:left;
	width:100%;

	
	}
.sub_contenedor{
	margin:0 auto;
	width:1184px;
	height:188px;
	
	/*border:#000 1px solid;
	border-top: #999 1px dotted;*/
	}

#contenedor_superior{
	float: left;
	background-color:#F4F1EC;
	width:100%;
	height: auto;
	margin-bottom: 0px;

	}
#contenedor_inferior{
	float: left;
	background-color:#FFFFFF;
	width:100%;
	height:400px;
	
	}



/* Fin - Estructura General Pagina */


/* Home */

/* Header */

#logo1{
	background:url(../imagenes/logo_header.png) top left no-repeat;
	float:left;
	display:block;
	height: 100px;
	width:130px;
	margin-left:13px;
	margin-top: 10px;
	cursor:pointer;
	}
	
#logo2{
	background:url(../images/logo2.png) top left no-repeat;
	float:right;
	display:block;
	height:101px;
	width:186px;
	margin-left:13px;
	margin-top: 42px;
	cursor:pointer;
}	

#contenedor_menu{
	float:left;
	margin:68px 0 0 0 ;
	width:1041px;
	height:59px;
	/*background:#FFFFFF;*/
}
	
#menu{
	display:block;
	height:59px;
	width:900px;
    margin: 0 0px 0 140px;

	}

#menu ul{
	float:left;
	margin-top:20px;
	margin-bottom:0px;
	margin-left:0px;
	padding-left:0px;	
}
	
#menu ul li{
	list-style:none;
	float:left;
	height:20px;
	min-width:10px;
	
	text-align:center;
	font-size:16px;
	font-weight:normal;
	font-family: 'Quicksand', sans-serif;
	cursor:pointer;
	
	margin-right:15px;
}
	
#menu ul li a{
	text-decoration:none;
    font-size: 15px;
    font-weight: bold;
	}

#menu ul #home_menu a{
    color: #0A3F85;
	}
	
#menu ul #compra_menu a{
    color: #0A3F85;

	}
	
#menu ul #juego_menu a{
	color:#0A3F85;
	}
	
#menu ul #comida_menu a{
	color:#0A3F85;
	}
	
#menu ul #consejos_menu a{
	color:#0A3F85;
	}
	
#menu ul #contacto_menu a{
	color:#0A3F85;
}
#menu ul #quienes_menu a{
    color:#0A3F85;
}

#menu #ingresar_menu a {
    color: #72B814;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

#menu #registrar_menu a {
    color:#72B814;
    text-decoration: none;
}


/* contenedor Superior */


	
	
/* Contenedor Central */

#contenedor_submenu{
    margin: -9px 0 0 11px;
    display: block;
    height: 59px;
    width: 940px;
    padding-top: 0px;
    border-bottom: #CCCCCC 0px dotted;
	}
	
#migas{
	float:left;
	display:block;
	height:15px;
	width:500px;
	text-align:left;
	font-family: 'Quicksand', sans-serif;
	font-size:1.2em;
	color:#0A4187;
	padding-top:26px;
	}
	
#submenu{
	/*float:left;*/
    float: inherit;
	display:block;
	height:65px;
	width:658px;
	}
	
#submenu ul{
	margin:0;
	}
	
#submenu ul li{
	float:right;
	width:auto;
	height:12px;
	
	padding:14px 15px 14px 14px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:11px;
	color:#666666;
	
	list-style:none;
	margin-top:12px;
	border-right:#ccc 0px solid;
	}


#submenu ul li a{
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	font-size:11px;
	color:#666666;
}
#submenu ul li a:hover{
	text-decoration:underline;	
}
	
#contenedor_login{
	float:left;
	background-color:#F5F5F5;
	display:block;
	height:261px;
	width:222px;
	
	margin-top:26px;
	margin-left:10px;
	}
	
#contenedor_login input{
	float:left;	
	
	height:18px;
	width:180px;
	
	margin-top:8px;
	margin-left:15px;
	padding-left:10px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	color:#666;
	font-weight:400;
	font-style:italic;
	}
	
	
#titulo_area_apoderados{
	background:url(../images/titulo_area_apoderados.jpg) top left no-repeat;
	float:left;
	display:block;
	width:222px;
	height:26px;
	
	margin-top:8px;
	}
	
#texto_detalle_login{
	float:left;
	height:27px;
	width:200px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:11px;
	color:#666666;
	
	margin-top:7px;
	margin-left:14px;
	
	
	}
	

#boton_ingresar_login:active{
    opacity: 0.5;
}

#cont_contrasena {
    width: 100%;
    height: 61px;
    margin-top: 250px;
}

#registrar_text{
    color: #444444;
    font-size: 15px;
    font-weight: 600;
}

#registrar_text a{
    color: #013F87;
    text-decoration: none;
    font-weight: bold;
}

#olvidaste_contrasena{
    display: block;
    text-align: center;
    margin-top: 7px;
	}
	
#olvidaste_contrasena a{
    float: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    width: 100%;
    color: #444444;
}
	
#boton_facebook{
	background:url(../img_new/login/face.png) center no-repeat;
	float:left;
	height:59px;
	width:100px;
	
	cursor:pointer;
	
	margin-top:0px;
	margin-left:0px;
}

#boton_facebook:hover{
	opacity:0.9;	
}
	
#contenedor_registro{
	float:left;
	display:block;
	height:55px;
	width:222px;
	
	border-top: #999999 1px dotted;
	
	margin-top:10px;
	}
#contenedor_registro2{
	float:left;
	display:block;
	height:25px;
	width:222px;
	
	border-top: #999999 1px dotted;
	
	margin-top:10px;
	}	
#detalle_registro{
	float:left;
	display:block;
	height:18px;
	width:222px;
	
	text-align:center;
	
	margin-top:4px;
	
	}
	
	
#detalle_registro a{
	font-family: 'Quicksand', sans-serif;
	font-size:11px;
	color:#666666;	
	
	text-decoration:none;
}

#boton_registrate{
	background:url(../images/boton_registrate.jpg) center no-repeat;
	float:left;
	display:block;
	
	height:20px;
	width:66px;
	
	cursor:pointer;
	
	margin-top:2px;
	margin-left:75px;
}
#boton_registrate:active{
	background-size:95% 95%;
}

.fl_img_user_apod{
    float: left;
    margin: -8px 18px 0px 0px;
}
	
#slider{
	background:url(../images/sombra_slider.png) bottom left no-repeat;
	float:left;
	display:block;
	height: 356px;
	width: 980px;
	
	margin-top:0px;
	margin-left: 0;
	}
	
	
#contenedor_slider_colegios{
	float:left;
	display:block;
	height:160px;
	width:980px;
	
	border-top:0px #999999 dotted;
	margin-top:34px;
	/*margin-left:10px;*/
	
	}

#slider_colegios{
	float:left;	
}	
	
#estamos_en{
	background: url(../img_new/login/est_en.png) center no-repeat;
	float:left;
	display:block;

	height:38px;
	width: 100%;
	
	margin-top:0px;
	margin-left:0px;
}



/* Fin - Contenedor Central */


/* Contenedor Inferior */


.contenedor_box{
	float:left;
	display:block;
	height:361px;
	width: 320px;
	
	border-right:1px dotted #CCCCCC;
	}
	
.titulo_box{
	float:left;
	display:block;
	height:30px;
	width:440px;
	
	text-align:left;
	
	border-bottom:1px #999999 dotted;
	}
	
.imagen_icono{
	float:left;
	display:block;
	height:130px;
	width:226px;
	
	margin-top:15px;
	}
	
.texto_detalle{
	float:left;
	display:block;
	height:130px;
	width:202px;
	
	margin-left:10px;
	}
	
.titulo_box2{
	text-align:left;
	font-family: 'Quicksand', sans-serif;
	font-size:12px;
	color:#666666;
	font-weight:bold;
	
	margin-top:20px;
	}
	
.titulo_box2 #color1{
	color:#79206C;
	}
	
.titulo_box2 #color2{
	color:#C4013D;
	}
	
.titulo_box2 #color3{
	color:#FF6C00;
	}
	
.titulo_box2 #color4{
	color:#009FA5;
	}
	
.texto_box{
	text-align:left;
	font-family: 'Quicksand', sans-serif;
	font-size:12px;
	color:#666666;
	
	margin-top:10px;
	}
	
.link a{
	float:left;
	display:block;
	width:202px;
	height:20px;
	
	text-align:right;
	font-family: 'Quicksand', sans-serif;
	font-size:10px;
	color:#666666;
	font-weight:bold;
	
	text-decoration:none;
	
	}
.link a:hover{
	font-weight:bold;
	text-decoration:underline;
}

/* FIN - Contenedor Inferior */


/* Footer */

#contenedor_submenu_footer{
	float:left;
	display:block;
	height:150px;
	width:100%;
	
	/*border:#FFF 1px solid;*/
	}
	
#submenu_footer{
	float:left;
	display:block;
	height:auto;
	width:125px;
	
	text-align:center;
	
	margin-top:37px;	
	border-bottom:#999999 0px dotted;
	}
	
#submenu_footer ul{
	margin:0;
	padding:0;
	}
	
#submenu_footer ul li{
	list-style:none;
	float:left;
	text-align:left;
	width:100%;
	display:block;
	padding-left:5px;
	padding-right:5px;
	border-bottom:0px solid #FFF;
	height:20px;
	padding-top:8px;
	}
	
#submenu_footer ul li a{
	font-family: 'Quicksand', sans-serif;
	font-size:12px;
	color:#FFFFFF;
	text-decoration:none;
}
#submenu_footer ul li a:hover{
	text-decoration:underline;
}
	
#contenedor_submenu_footer2{
	float:left;
	display:block;
	height:200px;
	width:250px;
		
	margin-left:38px;
	
	/*border:#FFF 1px solid;	*/
	}
	
	
#contenedor_texto_footer{
    float: left;
    display: block;
    height: 70px;
    width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    background-color: #67A604;
    margin: 12px 0px 1px 0px
	}
	
#contenedor_texto_footer a {
	color:#ffffff;
	text-decoration:none;
	}
	

#contenedor_submenu_footer2{
	float:right;
	display:block;
	height:200px;
	width:250px;
	
	}
	
#contenedor_submenu_footer2 ul{
	margin:0;
	padding:0;
	}
	
#contenedor_submenu_footer2 ul li{
	float:left;
	display:block;
	height:125px;
	width:125px;
	
	text-align:center;
	color:#FFF;
	font-family: 'Quicksand', sans-serif;
	font-size:12px;
	
	margin-top:30px;
	}
	
	
#contenedor_submenu_footer2 ul li a{
	text-decoration:none;
	color:#FFF;
	}

#contenedor_submenu_footer2 ul li a img{
	border:0;
	}
	
#contenedor_submenu_footer2 ul li a span{
	font-family: 'Quicksand', sans-serif;
	float:left;
	display:block;
	height:30px;
	width:125px;
	color:#FFFFFF;
	font-size:12px;
	}
	
#contenedor_submenu_footer2 ul li a #direcion{
	text-align:right;
	font-size:9px;
	margin-top:15px;
	}
/* FIN - Footer */
/* Fin - Home */

#contenedor_principal{
	float: left;
	display: block;

	height: auto;
	width: 1183px;
	background-color: #eee;
	padding-bottom:0px;
}
.contenedor_centrador{
    float: left;
    display: block;
    height: 59px;
    width: 100%;
    background-color: #eee;
}


#contendor_login2{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	margin-top:0px;	
}

.contenedor_nombre{
	float:left;
	height:20px;
	width:760px;
	text-align:center;
	color:#FFFFFF;	
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:22px;
}

#contenedor_titulo_login{
	background:url(../images/bg_titulo_panel_control.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:222px;
	
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;	
}
#contendor_login2 ul{
	float:left;
	display:block;
	
	height:auto;
	width:182px;
	
	padding:0;
	margin:0;	
}
#contendor_login2 ul li{
	float:left;
	display:block;
	
	height:auto;
	width:172px;
	
	color:#FFF;
	
	margin-left:10px;
	margin-top:10px;
	padding-bottom:10px;
	
	border-bottom:#CCCCCC 0px dotted;
}
#contendor_login2 li img{
	float:left;
	display:block;	
}
#contendor_login2 li a{
	float:left;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#fff;
	text-align:left;
	text-decoration:none;
	
	margin-left:8px;
	margin-top:2px;
		
}
#contendor_login2 li a:hover{
	text-decoration:underline;
}

/* CARRUSEL*/
#carousel_marcas{
	background:#FFF;
	float:left;
	display:block;
	
	height:150px;
	width:100%;
	
	text-align:center;
	
	/*border:#000000 1px solid;*/
}

#carousel_marcas h5{
	margin-top:15px;
	margin-bottom:20px;	
}
#contenedor_carousel {
	float:left;
	width:960px;
	height:70px;
	
	margin-left: 8px;
	margin-top:20px;
}
#carousel {
	position: relative; /* Necesario */
	overflow: hidden; /* Necesario */
	width:808px;
	height:56px;
	margin-left:80px;
	
}
#carousel .belt {
	position: absolute; /* Necesario */
	left: 0;
	top: 0;
}
#carousel .panel {
	width:275px;
	height:58px;
	border:0px solid #F00;
	float: left; /* Necesario */
	overflow: hidden;
	margin-right:15px;
	margin-left:20px;
}

.cont_nom_col_img {
    float: left;
    margin: 10px 10px;
}

.cont_nom_col{
	float:left;	
	height:46px;
	width:181px;
	text-align:left;
	padding-left:5px;
	color:#9A8E58;
	padding-top:10px;
}

.cont_nom_col a{
	font-size:14px;	
}

#carousel .panel .panel-text {
	padding-top:5px;
	font-size:13px;
	font-family: 'Quicksand', sans-serif;
	color:#FFF;
}
#carousel .panel .panel-text a {
	color:#CCC;
	text-decoration:none;
}
#carousel .panel .panel-text a:hover {
	color:#FFF;
	text-decoration:underline;
}
/* Botones del carousel */
.button-prev {
	height:70px;
	width:35px;
	float:left;
	-moz-border-radius:10px 0 0 10px;
}
.button-prev a {
	display:block;
	padding:5px;
	margin-top:0px;
}
.button-next {
	height:70px;
	width:35px;
	float:right;
	-moz-border-radius:0 10px 10px 0;
}
.button-next a {
	display:block;
	padding:5px;
	margin-top:0px;
}
/* FIN CARRUSEL*/

/* CARRUSEL 2 */
#carousel_marcas2{
	background-color:#E4E4E4;
	float:left;
	display:block;
	
	height:150px;
	width:100%;
	
	text-align:center;
	
	/*border:#000000 1px solid;*/
}
#contenedor_central_carousel2{
	margin:58px auto;
	width:980px;
	height:auto;	
}
#contenedor_carousel2 {
	float: right;
	/*margin:0 auto;*/
	width:780px;
	height:70px;
	
}
#carousel2 {
	position: relative; /* Necesario */
	overflow: hidden; /* Necesario */
	width:700px;
	height:50px;
	margin-left:35px;
	
	/*margin-top:30px;*/
	
	/*border:#000000 1px solid;*/
}
#carousel2 .belt2 {
	position: absolute; /* Necesario */
	left: 0;
	top: 0;
}
#carousel2 .panel2 {
	/*width:115px;*/
	float: left; /* Necesario */
	overflow: hidden;
	margin-right:15px;
	margin-left:20px;
	padding-left:10px;
	padding-right:10px;
}

.button-prev2 {
	
	float:left;
	-moz-border-radius:10px 0 0 10px;
}
.button-prev2 a {
	display:block;
	margin-top:0px;
}
.button-next2 {
	
	float:right;
	-moz-border-radius:0 10px 10px 0;
}
.button-next2 a {
	display:block;
	margin-top:0px;
}
#utilizamos{
	background:url(../images/logo_marcas/utilizamos_marcas.png) center no-repeat;
	float:left;
	display:block;
	
	height:36px;
	width:152px;	
}
/* FIN CARRUSEL 2 */


/* COMIDA CASERA */
.sub_contenedor2{
    margin: 0 auto;
    width: 1201px;
    height: 100%;
}
#contenedor_superior2{
	float: left;
	background-color:#F4F1EC;
	width:100%;
	height: auto;
	
	/*border-bottom:#999999 1px dotted;*/
}
.contenedor_separador_standar{
    float: left;
    display: block;
    text-align: left;
    width: 1141px;
    margin-bottom: 40px;
    margin-left: 20px;
    line-height: 1.6;
	
}
#barra_titulo_comida_casera{
	background-color:#104385;
	float:left;
	display:block;
	
	height:26px;
	width:960px;	
}
#barra_titulo_comida_casera img{
	float:right;
	display:block;	
}
#barra_titulo_comida_casera span{
	float:right;
	display:block;
	
	
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:left;
	font-weight:bold;
	
	margin-top:4px;
	margin-right:30px;	
}
#contenedor_titulo_verde{
	background-color:#B8B82D;
	float:left;
	display:block;
	
	height:100px;
	width:430px;
	
	padding-left:25px;
	padding-right:25px;
}
#contenedor_titulo_verde span{
	float:left;
	display:block;	
	
	width:350px;
	height:22px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#FFF;
	text-align:left;
	
	margin-top:25px;
}
#contenedor_titulo_verde label{
	float:left;
	display:block;	
	
	width:420px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:20px;
	font-weight:normal;
	color:#FFF;
	text-align:left;
	
}



#contenedor_titulo_rojo{
	background-color:#C4023D;
	float:left;
	display:block;
	
	height:100px;
	width:430px;
	
	padding-left:25px;
	padding-right:25px;
}
#contenedor_titulo_rojo span{
	float:left;
	display:block;	
	
	width:350px;
	height:22px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#FFF;
	text-align:left;
	
	margin-top:25px;
}

#contenedor_titulo_silver{
	background-color:#2E2E2D;
	float:left;
	display:block;
	
	height:100px;
	width:430px;
	
	padding-left:25px;
	padding-right:25px;
}
#contenedor_titulo_silver span{
	float:left;
	display:block;	
	
	width:350px;
	height:22px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#FFF;
	text-align:left;
	
	margin-top:25px;
}

#contenedor_titulo_silver label{
	float:left;
	display:block;	
	
	width:420px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;
	text-align:left;
	
}

#contenedor_titulo_rojo label{
	float:left;
	display:block;	
	
	width:420px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;
	text-align:left;
	
}
.opcion_menu_comida_casera{
	background:url(../images/fondo_menu_comida_casera.png) center repeat;
	float:left;
	display:block;
	
	height:60px;
	width:300px;
	
	margin-right:27px;	
	margin-top:20px;
	
	border:#CCCCCC 1px solid;
}
.opcion_menu_comida_casera img{
	float:left;
	display:block;
	
	cursor:pointer;
	
	margin-left:15px;
	margin-top:10px;	
}
.opcion_menu_comida_casera span{
	float:left;
	display:block;
	
	height:22px;
	width:230px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#333333;
	text-align:left;
	
	cursor:pointer;
	
	margin-top:7px;
	margin-left:10px;	
}
.opcion_menu_comida_casera label{
	float:left;
	display:block;
	
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	cursor:pointer;
	
	margin-top:0px;
	margin-left:10px;
}
.opcion_menu_comida_casera a{
	float:right;
	display:block;
	
	font-family: 'Quicksand', sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-align:left;
	font-style:italic;
	cursor:pointer;
	text-decoration:none;
	
	margin-top:6px;
	margin-right:15px;	
}
.opcion_menu_comida_casera a:hover{
	text-decoration:underline;
	color:#000000;
}
.opcion_menu_saludable{
	background:#F5F5F5;
	float:left;
	display:block;	
	
	height:150px;
	width:300px;
	
	margin-top:20px;
	margin-right:27px;
	
	border:#EFEFEF 1px solid;
	border-bottom:none;
}
.opcion_menu_saludable img{
	float:left;
	display:block;	
	
	cursor:pointer;
}
.opcion_menu_saludable span{
	float:left;
	display:block;
	
	height:auto;
	width:135px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#333333;
	text-align:left;
	cursor:pointer;
	
	margin-top:25px;
	margin-left:15px;	
}
.opcion_menu_saludable label{
	float:left;
	display:block;
	
	height:auto;
	width:123px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#666666;
	text-align:left;
	cursor:pointer;
	
	margin-top:10px;
	margin-left:15px;	
}
.opcion_menu_saludable a{
	float:right;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Quicksand', sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-align:left;
	font-style:italic;
	cursor:pointer;
	
	cursor:pointer;
	text-decoration:none;
	
	margin-top:10px;
	margin-right:15px;	
}
.opcion_menu_saludable a:hover{
	text-decoration:underline;	
}
#fecha_verde{
	background:url(../images/flecha_verde.png) center no-repeat;
	float:left;
	display:block;
	
	height:18px;
	width:38px;
	
	margin-left:200px;
	/*
	margin-left:530px;
	margin-left:860px;
	*/
}

.contenedor_colacion_preescolares {
	float:left;
	width:800px;
	margin-left:90px;
	margin-bottom:25px;
	margin-top:15px;
}
.contenedor_colacion_preescolares table {
	border-left:2px solid #FFF;
	border-top:2px solid #FFF;
	font-family: 'Quicksand', sans-serif;
	line-height:10px;
	font-size:10px;
	color:#000;
}
.contenedor_colacion_preescolares table td {
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
}
.tr_superior {
	height:53px;
}
.tr_inferior {
	height:35px;
}
.dia_semana {
	font-size:13px;
	color:#FFF;
}
#imagen_preescolares_tren {
	width:775px;
	height:auto;	
}
#imagen_preescolares_tren img {
	float:right;
	margin-bottom:5px;
}
#seccion_colaciones_saludables{
	float:left;
	display:none;	
}
/* FIN COMIDA CASERA*/

#fondo_box2{
	background:#000000;
	position:fixed;
	display:none;
	
	height:100%;
	width:100%;
	
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);	
	
	z-index:999;
}
#box2{
	background-color:#E4E4E4;
	position:fixed;
	display:none;
	
	height:260px;
	width:222px;
	
	margin:auto;
	
	left:0;
	right:0;
	top:0;
	bottom:0;
	
	z-index:1000;
	/*
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	*/
}

.triangulo{
	float:right;
	display:block;		
}

#titulo_recuperar{
	font-family: 'Quicksand', sans-serif;
	background:	#104385;
	float:left;
	display:block;
	
	height:26px;
	width:222px;
}
#titulo_recuperar span{
	float:left;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#FFFFFF;	
	text-align:right;
	
	margin-left:10px;
	margin-top:5px;	
}
#box2 p{
	float:left;
	display:block;
	
	height:auto;
	width:200px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-left:15px;	
}
#box2 input{
	float:left;
	display:block;
	
	height:18px;
	width:176px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:bold;
	color:#333333;
	
	padding-left:5px;
	padding-right:5px;
	margin-left:16px;
	margin-top:15px;
}
#boton_recuperar{
	background-color:#104385;
	padding:11px 5px 5px 5px;
	float:left;
	display:block;
	
	height:16px;
	width:150px;
	
	cursor:pointer;
	
	margin-left:30px;
	margin-top:15px;
	
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:9px;
	border-radius:5px;
}
#boton_recuperar:active{
	background-size:95% 95%;	
}
#boton_cerrar_box2{
	background-color:#104385;
	padding:11px 5px 5px 5px;
	float:left;
	display:block;
	
	height:16px;
	width:150px;
	
	cursor:pointer;
	
	margin-left:30px;
	margin-top:15px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:9px;
	border-radius:5px;
}
#boton_cerrar_box2:active{
	background-size:95% 95%;	
}
#olvidaste{
	cursor:pointer;	
	color:#FFFFFF;
}

/* RECARGATE DE ENERGIA */
#titulo_recargate_energia{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;	
	
	margin-top:30px;
	padding-bottom:1px;
	
	border-bottom:#666666 1px dotted; 
}
#seccion_recargate_energia ul{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	margin:0px;
	padding:0px;	
	
	margin-top:20px;
}
#seccion_recargate_energia li{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	margin:0px;
	padding:0px;	
}
#seccion_recargate_energia li span{
	float:left;
	display:block;
	
	height:auto;
	width:75px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;	
}
#seccion_recargate_energia li label{
	float:left;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#666666;
	text-align:left;	
}
#seccion_recargate_energia p{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#666666;
	text-align:left;
	
	margin-top:15px;
	margin-bottom:30px;	
}
#seccion_recargate_energia table{
	margin:20px auto;
	
	border:#B981B1 1px solid;
}
#seccion_recargate_energia table th{
	background-color:#762168;
	
	height:30px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	
}
#seccion_recargate_energia table td{

	font-family: 'Quicksand', sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	text-align:center;
	
	padding:10px;
}
.calipso{
	color:#299CA2 !important;
	font-weight:bold !important;
	font-size:13px !important;	
}
/* FIN RECARGATE DE ENERGIA */

/* RECETAS */
#contenedor_recetas{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	min-height:500px;	
}

.receta{
	float:left;
	display:block;
	
	width:300px;
	height:150px;
	
	margin-top:20px;
	margin-right:27px;
	
	border:#CCCCCC 1px solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;	
}
.receta img{
	float:left;
	display:block;
	
	border:none;	
}
.receta label{
	float:left;
	display:block;
	
	height:auto;
	width:130px;	
	
	font-family: 'Quicksand', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#333333;
	text-align:left;
	line-height:20px;
	
	margin-left:15px;
	margin-top:25px;
}
.receta span{
	float:left;
	display:block;
	
	height:auto;
	width:130px;	
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	line-height:15px;
	
	margin-left:15px;
	margin-top:15px;	
}
.receta a{
	float:right;
	display:block;
	
	height:auto;
	width:110px;	
	
	font-family: 'Quicksand', sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	line-height:15px;
	font-style:italic;
	cursor:pointer;
	
	margin-right:10px;
	margin-top:10px;	
}
.receta a:hover{
	text-decoration:underline;
	color:#333333;
}
.receta a img{
	float:right;	
}
.receta_final_fila{
	margin-right:0px !important;	
}

#contenedor_recetas p{
	font-family: 'Quicksand', sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#666666;
	text-align:center;
	
}
/* FIN RECETAS */

/* CONTACTO */
.fila_contacto{
    float: left;
    display: block;
    height: auto;
    width: 1003px;
    margin-top: 30px;
    margin-left: 130px;
}
.columna_contacto{
	float:left;
	display:block;
	
	height:auto;
	width:480px;	
}
.fila_contacto span{
	float:left;
	display:block;
	
	height:auto;
	width:115px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-top:2px;	
}
.fila_contacto textarea{
	float:left;
	display:block;
	
	border-radius:5px;
	
	
	height:100px;
	width:100%;
	max-width:830px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-top:2px;	
	padding:5px 10px 5px 10px;
}
.columna_contacto span{
	float:left;
	display:block;
	
	height:auto;
	width:115px;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-top:2px;	
}
.columna_contacto input{
    float: left;
    display: block;
    border-radius: 34px;
    height: 48px;
    width: 370px;
    border: #ccc 1px solid;
    font-family: 'Quicksand';
    font-weight: bold;
    color: #023F88;
    text-align: center;
    font-size: 14px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #023F88;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #023F88;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #023F88;
}
.columna_contacto select{
    float: left;
    display: block;
    height: 48px;
    width: 370px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #023F88;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 34px;
    text-align-last: center;
    border: #ccc 1px solid;
}
#boton_enviar_contacto{
    background-color: #104385;
    padding: 5px 5px 5px 5px;
    display: block;
    height: 34px;
    width: 370px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    margin-right: 25px;
    border-radius: 34px;
    text-align: center;
    padding-top: 20px;
}

/* FIN CONTACTO */

/* QUIENES SOMOS */
.separador_vertical50{
	float:left;
	display:block;
	
	height:auto;
	width:50%;
	margin-bottom:40px;
	
}
.separador_vertical50 span{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-top:30px;
	margin-bottom:10px;
	
	border-bottom:#666666 1px dotted;
}
.separador_vertical50 p{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;

}

.separador_vertical50 label{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#666666;
	text-align:right;
	
	margin-top:27px;
	margin-bottom:10px;
	
	border-bottom:#666666 1px dotted;
}
.separador_vertical50 ul li{
	float:left;
	/*display:block;*/
	
	height:auto;
	width:100%;
	
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	list-style:outside;
	
	margin-top:10px;
}
.sub_title_quienes_somos{
	float:left;
	
	margin-left:40px;
	margin-bottom:10px;
	margin-top:30px;
	
	font-size:15px !important;	
}
/* FIN QUIENES SOMOS */

/* PREGUNTAS FRECUENTES */
.acc_trigger{
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666 !important;
	text-align:left;
	text-decoration:none;
	
	border-bottom:#666666 1px dotted;
}
.acc_trigger a{
	color:#666666 !important;
	text-decoration:none;
	text-transform:uppercase;
}
.acc_trigger a:hover{
	color:#333 !important;	
}
.active a{
	color:#104385 !important;		
}
.acc_container{
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#666666 !important;
	text-align:left;
}
/* FIN PREGUNTAS FRECUENTES */


#contenedor_avance{
	float:left;
	display:block;
	
	height:230px;
	width:100%;
	
	padding-top:20px;
	margin-bottom:0px;
	background-color:#fff;
}
#linea_avance{
	background-color:#CCCCCC;
	float:left;
	display:block;
	
	height:10px;
	width:100%;	
	
	margin-top:60px;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	
}

.contenedor_paso_avance{
    float: left;
    display: block;
    height: 168px;
    width: 106px;
    margin-top: 12px;
    z-index: 20;
    margin: 12px 64px;
}

#icono_avance_paso1{
	background:url(../images/colegio.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:100%;
}
#icono_avance_paso2{
	background:url(../images/monito.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:100%;
}
#icono_avance_paso3{
	background:url(../images/colegios.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:100%;
}
#icono_avance_paso4{
	background:url(../images/icono1.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:100%;
}
.circulo_externo_avance{
    float: left;
    display: block;
    height: 189px;
    width: 185px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
}
.circulo_interno_avance{
	float:left;
	display:block;
	
	height:126px;
	width:106px;
	
	margin-left:1px;
	margin-top:1px;
	
	border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	-webkit-border-radius:30px;
	
	border:#FFF 1px solid;
}

.circulo_interno_avance span{
	float:left;
	display:block;
	
	height:auto;
	width:41px;
	
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-size:24px !important;
	font-weight:bold;
	color:#FFF !important;
	
	margin-top:3px;
}

.paso_asociar{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#CCCCCC;
	
	margin-top:3px;
}

#paso1_avance{
	background:url(../imagenes/asociar_colegio/asociar_colegio.png) no-repeat;
	background-position:top; 
	margin-left:0px;	
}

#paso2_avance{
	background:url(../imagenes/asociar_colegio/agregar_dato_alumno.png) no-repeat;
	background-position:top; 
	margin-left:0px;	
}

#paso3_avance{
	background:url(../imagenes/asociar_colegio/mis_colegios.png) no-repeat;
	background-position:top; 
	margin-left:0px;	
}

#paso4_avance{
	background:url(../imagenes/asociar_colegio/comprar_cuponera.png) no-repeat;
	background-position:top; 
	margin-left:0px;	
}

.activo .paso_asociar{
	color:#666666 !important;	
}

.activo .circulo_externo_avance{
	background-color:#00B0AC;
}
.activo .circulo_interno_avance{
	background-color:#00B0AC;
}
.numero{
	background-color:#00B0AC;
	float:left;
	display:block;
	
	height:25px;
	width:25px;
	
	margin-top:11px;
	
	border-radius:30px;
		
}
.numero span{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
		
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	
	margin-top:2px;	
}
.texto_titulo_acor{
    width: 981px !important;
    margin-left: 104px;
    text-align: left;
}
#boton_guardar_colegio{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #023F8B;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #023F8B;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 0px;
}
#boton_guardar_colegio:active{
	background-size:95% 95%;
}
#descargar_menu_asociar img{
	float:left;
	display:block;
	
	margin-right:10px;
	margin-top:-5px;	
}
#descargar_menu_asociar{
	float:right;
	display:none;
	
	height:auto;
	width:auto;
	
	text-align:right;
	font-family: 'Quicksand', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#999999;	
	text-decoration:none;
	
	margin-top:5px;
}
#descargar_menu_asociar:hover{
	text-decoration:underline;
}

#boton_volver_asoc_colegio{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #444444;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 0px;
}
#boton_volver_asoc_colegio:active{
	background-size:95% 95%;	
}

#boton_agregar_asoc_colegio{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #023F8B;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #023F8B;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 0px;
}

#boton_agregar_asoc_colegio:active{
	background-size:95% 95%;
}

#boton_asociar{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #023F8B;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #023F8B;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 0px;
}
#boton_asociar:active{
	background-size:95% 95%;
}

#boton_comprar_asoc{
    float: left;
    background: #ffffff;
    width: 200px;
    height: 22px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 34px;
    border: 1px solid #023F8B;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #023F8B;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: 0px;
}
#boton_comprar_asoc:active{
	background-size:95% 95%;	
}

.contenedor_barra_cargando{
	float:left;
	display:block;
	
	height:auto;
	width:215px;
	
	margin-left:347px;
}


/**/
.class_ul_l{
	border-right:none !important;	
}
	
.contenedor_rojo{
	float:left;
	background:url(../img_new/login/franja_index.jpg);
	width:100%;
	height:106px;	
}

.contenedor_login{
	width:960px;
	height:106px;
	margin:auto;	
}

.login_imagen1{
	float:left;
	background:url(../img_new/login/img1.png) no-repeat top;
	width:53px;
	height:59px;
	margin-top:23px;	
}

.cont_texto {
	float:left;
	width:200px;
	height:45px;
	margin-top:32px;	
}

.cont_texto h2 {
	float:left;
	font-family: 'Quicksand', sans-serif;
	text-transform:uppercase;
	color:#FFFFFF;	
	width:100%;
	margin:0;
	font-size:18px;
}

.cont_texto span{
	float:left;
	font-family: 'Quicksand', sans-serif;
	width:100%;
	color:#FFFFFF;
	font-size:10px;
}

.contenedor_input_ingreso_new{
    float: left;
    width: 100%;
    height: 102px;
    margin-top: 20px;
    color: #444444;
    font-size: 15px;
    font-weight: bold;
}

.contenedor_input_ingreso_new input{
    float: initial;
    border-radius: 31px;
    border: 1px solid #DDDDDD;
    height: 48px;
    width: 337px;
    margin-top: 19px;
    font-family: 'Quicksand', sans-serif;
    font-style: initial;
    font-size: 14px;
    background-color: transparent !important;
    color: #033F89 !important;
    font-weight: bold;
    padding-left: 30px;
}

#boton_ingresar_login{
    background: #FFC900;
    border-radius: 31px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 24px;
    cursor: pointer;
    min-width: 192px;
    margin-left: 52px;
    height: 40px;
    width: 370px;
    margin-top: 75px;
    color: #0A4187;
    background-image: url(../imagenes/login/derecha_azul.png);
    background-position: 44px 24px;
    background-repeat: no-repeat;
    float: left;
    display: block;
    font-weight: bold;
    -webkit-box-shadow: 4px 4px 11px -5px rgba(49,49,64,0.57);
    -moz-box-shadow: 4px 4px 11px -5px rgba(49,49,64,0.57);
    box-shadow: 4px 4px 11px -5px rgba(49,49,64,0.57);
}

#boton_ingresar_login:hover{
    background: #0A4187;
    color: #FFC900;
    background-image: url(../imagenes/login/derecha_amarillo.png);
    background-position: 44px 24px;
    background-repeat: no-repeat;
}

.cont_bot_1{
	float:left;
	width:99%;
	height:59px;	
	margin-top:0px;
	border-left:0px solid #CCC;
}

.stilo_left1{
	margin-left:48px;
}

.stilo_left2{
	margin-left:12px;
	margin-top:0px !important;
}

.boton_generico_blanco{
	float:left;
	background:transparent;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #FFF;
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	text-align:center;
	text-transform:uppercase;
	color:#FFFFFF;
	height:22px;
	padding-top:10px;
	cursor:pointer;
	margin-top:0px;	
	text-decoration:none;	
}
.boton_generico_blanco:hover{
    background:#FFFFFF;
    border:1px solid transparent;
    color:transparent;
}

.con_botmas{
	float:left;
	width:100%;
	height:auto;
	text-align:center;	
}

.cent_bot_mas{
	margin-top:10px;
	margin-left:120px;
}

.boton_generico_ver_mas{
    float: left;
    background: #ffffff;
    border-radius: 34px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #003F86;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #003F86;
    height: 22px;
    padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;

}

.boton_generico_ver_mas:hover{
    background: #003F86;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.boton_generico_ver_mas:active{
    opacity: 0.5;
}

.cont_cont{
    float: left;
    width: 1113px;
    height: auto;
    margin-left: 70px;
    margin-top: 20px;
}

.cont_tel_ubi{
    float: left;
    width: 300px;
    height: auto;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 14px;
    padding-right: 47px;
}
.cont_tel_ubi a{
    text-decoration: none;
    color: #ffffff;
}

.cont_tel{
    float: left;
    width: 275px;
    height: auto;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 14px;
    padding-right: 47px;
}
.cont_tel a{
    text-decoration: none;
    color: #ffffff;
}

.cont_meil_ubi{
    float: left;
    width: 160px;
    height: auto;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 14px;
    padding-right: 47px;
}

.cont_logo{
    float: left;
    width: 189px;
    height: auto;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 12px;

}

.cont_tel_ubi img{
     float:left;
     margin-right:15px;
 }
.cont_tel img{
    float:left;
    margin-right:15px;
}
.cont_meil_ubi img{
    float:left;
    margin-right:15px;
}

.cont_img_home{
    float: left;
    width: 230px;
    height: auto;
    margin: 0px 80px;
}

.cont_img_home img{
	float:left;	
	margin-left:15px;
}

.separa_pasos{
    width: 0px;
    height: 26px;
    float: left;
    padding-left: 52px;
    padding-top: 96px;
}

.mgpas1{
	margin-left:186px;	
}

.flecha_dudas{
	float:right;
	width:20px;
	height:20px;
	background:url(../img_new/login/flecha_dudas.png) no-repeat;
	background-position:bottom;
	margin-right:25px;
	margin-top:14px;	
}

.flecha_sig_menu{
	float:right;
	background:url(../img_new/login/flecha_menu_izq.png) no-repeat;
	background-repeat:no-repeat;
	width:23px;
	height:46px;
	margin-top:-11px;	
	display:none;
}

.contendor_login_datos{
	float:right;
	height:59px;
	font-family: 'Quicksand', sans-serif;
	text-align:center;
	width:147px;
	background:#104385;	
}

.contendor_login_datos img{
	margin-top:12px;	
}

.contendor_login_datos span{
	float:left;
	width:100%;
	height:auto;
	color: #72B814;;
	font-size:12px !important;

}

.contendor_login_datos:hover{
	cursor:pointer;
	opacity:0.9;
	font-family: 'Quicksand', sans-serif;
	text-align:center;
	font-size:12px;	
}

.panel_sel_menu{
    background: #0A4187;
    float: left;
    width: 324px;
    height: 77px;
    margin: 13px 5px;
    border-radius: 20px;
}

.cont_nom_col_img_menu_col{
    float: left;
    height: 46px;
    width: 224px;
    text-align: left;
    padding-left: 5px;
    color: #ffffff;
    padding-top: 20px;
}

.cont_nom_col_img_menu_col a{
	font-size:12px;	
	height:auto;
}

.panel_sel_menu:hover{
	background:#0a418782;
	cursor:pointer;	
}

.class_mg10{
	margin-top:10px;	
}

.style_deta {
	float:left;
	font-family: 'Quicksand', sans-serif;
}

.style_deta tr th {
    background: #ffffff !important;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #0A4086;
    font-size: 14px;
    height: 34px;
    padding-top: 5px;
}

.numero_pregunta_frecuente{
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    font-size: 28px;
    float: left;
    background: url(../imagenes/bak_num.png) no-repeat;
    width: 70px;
    height: 58px;
    text-align: center;
    padding-top: 14px;
    margin: 7px;
}

.contenedor_ingreso_login{
	background:url(../img_new/login/backg_back.png);
	position:fixed;
	width:100%;
	height:100%;
	z-index:200;	
	display:none;
}

#contenedor_login_back{
    background: url(../imagenes/logo_header.png) no-repeat #fff;
    background-position-y: 20px;
    background-position-x: 173px;
    position: fixed;
    width: 481px;
    height: 615px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.contenedor_login_top_ing{
    float: left;
    width: 100%;
    height: 138px;
    border-top: solid;
    border-top-color: #86C33B;
    border-top-width: 9px;
    border-bottom: solid;
    border-bottom-color: #eee;
    border-bottom-width: thin;
}

.contenedor_login_top_ing a{
	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	color:#777;
	float:left;
	margin-top: 30px;
  	margin-left: 22px;
}

#cerrar_login{
	float:right;
	background:url(../imagenes/login/cerrar.png) no-repeat;
	width:38px;
	height:45px;
    margin-right: 6px;
    margin-top: 14px;
}

#cerrar_login:hover{
	opacity:0.9;
	cursor:pointer;	
}

.contenedor_input_login{
	  float: left;
	  width: 99%;
	  height: 180px;
	  margin-left: 5px;
	  border: 0px solid #666;
}

#boton_login_user_facebook{
    background-color: #3D5A96;
    background-image: url(../imagenes/login/f_boton_fondo.png);
    background-position: 43px;
    background-repeat: no-repeat;
    border-radius: 31px;
    float: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 22px;
    cursor: pointer;
    min-width: 192px;
    margin-left: 52px;
    height: 40px;
    width: 370px;
    margin-top: 19px;
    color: #ffffff;
    -webkit-box-shadow: 4px 4px 11px -5px rgba(49,49,64,0.57);
    -moz-box-shadow: 4px 4px 11px -5px rgba(49,49,64,0.57);
    box-shadow: 4px 4px 11px -5px rgba(49,49,64,0.57);
}

#boton_login_user_facebook:hover {
    background-color: #ffffff;
    color: #3D5A96;
    border: solid 1px #3D5A96;
    background-image: url(../imagenes/login/f_boton_fondo_on.png);
    background-position: 43px;
    background-repeat: no-repeat;
}
#boton_login_user_facebook:active {
    opacity: 0.5;
}

.cont_bot_3 {
  float: right;
  width: 100px;
  height: 59px;
  margin-top: 0px;
  border-left: 0px solid #CCC;
}

.cuadro_colegios_per{
	float:left;
	background:#FFF;
	width:930px;
	height:auto;	
	padding-left:5px;
	padding-right:5px;
	padding-bottom:20px;
}

.concretao_10_pad{
	margin-left:10px !important;	
}

.encabezado_titulo{
    float: left;
    width: 100%;
    height: 109px;
}

.contitulo_blancopalido{
    background:#ffffffd1;
    margin-top: 257px;
}

.titulo_der_color_verde{
    color: #72BA00;
    padding-left: 20px;
    padding-top: 13px;
    font-weight: bold;
    margin-top: 45px;
    text-transform: none;
    font-size: 30px;
}


.encabezado_titulo2{
    float: left;
    width: 100%;
    height: 145px;
}
.contitulo_blancopalido2{
    background: #ffffffd1;
    margin-top: 148px;
}

.titulo_der_color_verde2{
    color: #72BA00;
    font-weight: bold;
    margin-top: 44px;
    text-align: center;
    width: 1162px;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 13px;

    text-transform: none;
}
.contenedor_separador_standar2 {
    float: left;
    display: block;
    text-align: left;
    width: 1201px;
    margin-bottom: 40px;
    background: #ffffffd1;
}

.Table
{
    display: table;
}

.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row
{
    display: table-row;
}

.Cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}
.Cell2 {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}

#home_fondo{
    float: left;
    margin: 155px 0 0px 42px;
    text-align: left;
}
.fondo_blanco {
    float: left;
    background: #ffffff;
    opacity: 0.95;
    margin-top: 130px;
}
.fondo_blanco p a{
    text-decoration: none;
    color: #72BA00;
    font-weight: bold;
}