html, body{
		margin:0;
		text-align:center;
		font-family: 'Raleway', sans-serif;
		background-color:#F4F1EC;
	}
img{
	border:none;	
}	


/* Estructura General Pagina */

#contenedor_header{
	background-color:#eee;
	float:left;
	width:100%;
	height:188px;
}
	
#contenedor_footer{
	background-color:#104385;
	border-top:#CE1226 0px solid;
	float:left;
	width:100%;
	height:300px;
	
	}
.sub_contenedor{
	margin:0 auto;
	width:980px;
	height:188px;
	
	/*border:#000 1px solid;
	border-top: #999 1px dotted;*/
	}	
	
	
#contenedor_superior{
	float: left;
	background-color:#F4F1EC;
	width:100%;
	height: auto;
	margin-bottom: 0px;

	}
#contenedor_inferior{
	float: left;
	background-color:#FFFFFF;
	width:100%;
	height:400px;
	
	}



/* Fin - Estructura General Pagina */


/* Home */

/* Header */

#logo1{
	background:url(../imagenes/logo.png) top left no-repeat;
	float:left;
	display:block;
	height: 200px;
	width:200px;
	margin-left:13px;
	margin-top: 10px;
	cursor:pointer;
	}
	
#logo2{
	background:url(../images/logo2.png) top left no-repeat;
	float:right;
	display:block;
	height:101px;
	width:186px;
	margin-left:13px;
	margin-top: 42px;
	cursor:pointer;
}	

#contenedor_menu{
	float:left;
	margin:0 auto;
	width:100%;
	height:59px;
	background:#FFFFFF;	
}
	
#menu{
	margin:0 auto;
	display:block;
	height:59px;
	width:940px;
	background:#FFFFFF;
	/*border:#000 1px solid;*/
	}

#menu ul{
	float:left;
	margin-top:20px;
	margin-bottom:0px;
	margin-left:0px;
	padding-left:0px;	
}
	
#menu ul li{
	list-style:none;
	float:left;
	height:20px;
	min-width:10px;
	
	text-align:center;
	font-size:16px;
	font-weight:normal;
	font-family: 'Raleway', sans-serif;
	cursor:pointer;
	
	margin-right:15px;
}
	
#menu ul li a{
	text-decoration:none;
	}

#menu ul #home_menu a{
	color:#77B82A;
	}
	
#menu ul #compra_menu a{
	color:#77B82A;
	}
	
#menu ul #juego_menu a{
	color:#77B82A;
	}
	
#menu ul #comida_menu a{
	color:#77B82A;
	}
	
#menu ul #consejos_menu a{
	color:#77B82A;
	}
	
#menu ul #contacto_menu a{
	color:#77B82A;
}
	
/* contenedor Superior */


	
	
/* Contenedor Central */

#contenedor_submenu{
	margin:0 auto;
	display:block;
	
	height:59px;
	width:940px;
	
	padding-top:0px;
	
	border-bottom:#CCCCCC 0px dotted;
	}
	
#migas{
	float:left;
	display:block;
	height:15px;
	width:300px;
	text-align:left;
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
	font-size:11px;
	color:#666666;
	padding-top:26px;
	}
	
#submenu{
	float:left;
	display:block;
	height:65px;
	width:658px;
	}
	
#submenu ul{
	margin:0;
	}
	
#submenu ul li{
	float:right;
	width:auto;
	height:12px;
	
	padding:14px 15px 14px 14px;
	
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	color:#666666;
	
	list-style:none;
	margin-top:12px;
	border-right:#ccc 0px solid;
	}


#submenu ul li a{
	text-decoration:none;
	font-family: 'Raleway', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	font-size:11px;
	color:#666666;
}
#submenu ul li a:hover{
	text-decoration:underline;	
}
	
#contenedor_login{
	float:left;
	background-color:#F5F5F5;
	display:block;
	height:261px;
	width:222px;
	
	margin-top:26px;
	margin-left:10px;
	}
	
#contenedor_login input{
	float:left;	
	
	height:18px;
	width:180px;
	
	margin-top:8px;
	margin-left:15px;
	padding-left:10px;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	color:#666;
	font-weight:400;
	font-style:italic;
	}
	
	
#titulo_area_apoderados{
	background:url(../images/titulo_area_apoderados.jpg) top left no-repeat;
	float:left;
	display:block;
	width:222px;
	height:26px;
	
	margin-top:8px;
	}
	
#texto_detalle_login{
	float:left;
	height:27px;
	width:200px;
	
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	color:#666666;
	
	margin-top:7px;
	margin-left:14px;
	
	
	}
	
#boton_ingresar_login{
	background:url(../images/boton_ingresar.jpg) center no-repeat;
	float:left;
	display:block;
	height:20px;
	width:60px;
	
	margin-top:7px;
	margin-left:14px;
	
	cursor:pointer;
	
	cursor:poiter;
}
#boton_ingresar_login:active{
	background-size:95% 95%;	
}
	
#olvidaste_contrasena{
	float:left;
	display:block;
	height:18px;
	width:140px;
	
	text-align:center;
	
	margin-top:7px;
	}
	
#olvidaste_contrasena a{
	
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	color:#666666;	
	
	text-decoration:none;
	}
	
#boton_facebook{
	background:url(../img_new/login/face.png) center no-repeat;
	float:left;
	height:59px;
	width:100px;
	
	cursor:pointer;
	
	margin-top:0px;
	margin-left:0px;
}

#boton_facebook:hover{
	opacity:0.9;	
}
	
#contenedor_registro{
	float:left;
	display:block;
	height:55px;
	width:222px;
	
	border-top: #999999 1px dotted;
	
	margin-top:10px;
	}
#contenedor_registro2{
	float:left;
	display:block;
	height:25px;
	width:222px;
	
	border-top: #999999 1px dotted;
	
	margin-top:10px;
	}	
#detalle_registro{
	float:left;
	display:block;
	height:18px;
	width:222px;
	
	text-align:center;
	
	margin-top:4px;
	
	}
	
	
#detalle_registro a{
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	color:#666666;	
	
	text-decoration:none;
}

#boton_registrate{
	background:url(../images/boton_registrate.jpg) center no-repeat;
	float:left;
	display:block;
	
	height:20px;
	width:66px;
	
	cursor:pointer;
	
	margin-top:2px;
	margin-left:75px;
}
#boton_registrate:active{
	background-size:95% 95%;
}

.fl_img_user_apod{
	float:left;	
	margin-top:-2px;
	margin-right:4px;
}
	
#slider{
	background:url(../images/sombra_slider.png) bottom left no-repeat;
	float:left;
	display:block;
	height: 356px;
	width: 980px;
	
	margin-top:0px;
	margin-left: 0;
	}
	
	
#contenedor_slider_colegios{
	float:left;
	display:block;
	height:160px;
	width:980px;
	
	border-top:0px #999999 dotted;
	margin-top:34px;
	/*margin-left:10px;*/
	
	}

#slider_colegios{
	float:left;	
}	
	
#estamos_en{
	background: url(../img_new/login/est_en.png) center no-repeat;
	float:left;
	display:block;

	height:38px;
	width: 100%;
	
	margin-top:0px;
	margin-left:0px;
}



/* Fin - Contenedor Central */


/* Contenedor Inferior */


.contenedor_box{
	float:left;
	display:block;
	height:361px;
	width: 320px;
	
	border-right:1px dotted #CCCCCC;
	}
	
.titulo_box{
	float:left;
	display:block;
	height:30px;
	width:440px;
	
	text-align:left;
	
	border-bottom:1px #999999 dotted;
	}
	
.imagen_icono{
	float:left;
	display:block;
	height:130px;
	width:226px;
	
	margin-top:15px;
	}
	
.texto_detalle{
	float:left;
	display:block;
	height:130px;
	width:202px;
	
	margin-left:10px;
	}
	
.titulo_box2{
	text-align:left;
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	color:#666666;
	font-weight:bold;
	
	margin-top:20px;
	}
	
.titulo_box2 #color1{
	color:#79206C;
	}
	
.titulo_box2 #color2{
	color:#C4013D;
	}
	
.titulo_box2 #color3{
	color:#FF6C00;
	}
	
.titulo_box2 #color4{
	color:#009FA5;
	}
	
.texto_box{
	text-align:left;
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	color:#666666;
	
	margin-top:10px;
	}
	
.link a{
	float:left;
	display:block;
	width:202px;
	height:20px;
	
	text-align:right;
	font-family: 'Raleway', sans-serif;
	font-size:10px;
	color:#666666;
	font-weight:bold;
	
	text-decoration:none;
	
	}
.link a:hover{
	font-weight:bold;
	text-decoration:underline;
}

/* FIN - Contenedor Inferior */


/* Footer */

#contenedor_submenu_footer{
	float:left;
	display:block;
	height:200px;
	width:468px;
	
	/*border:#FFF 1px solid;*/
	}
	
#submenu_footer{
	float:left;
	display:block;
	height:auto;
	width:125px;
	
	text-align:center;
	
	margin-top:37px;	
	border-bottom:#999999 0px dotted;
	}
	
#submenu_footer ul{
	margin:0;
	padding:0;
	}
	
#submenu_footer ul li{
	list-style:none;
	float:left;
	text-align:left;
	width:100%;
	display:block;
	padding-left:5px;
	padding-right:5px;
	border-bottom:0px solid #FFF;
	height:20px;
	padding-top:8px;
	}
	
#submenu_footer ul li a{
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	color:#FFFFFF;
	text-decoration:none;
}
#submenu_footer ul li a:hover{
	text-decoration:underline;
}
	
#contenedor_submenu_footer2{
	float:left;
	display:block;
	height:200px;
	width:250px;
		
	margin-left:38px;
	
	/*border:#FFF 1px solid;	*/
	}
	
	
#contenedor_texto_footer{
	
	float:left;
	display:block;
	height:70px;
	width:100%;
	
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:10px;
	color:#FFFFFF;
	
	margin-top:30px;
	}
	
#contenedor_texto_footer a {
	color:#FF00FF;
	text-decoration:none;
	}
	

#contenedor_submenu_footer2{
	float:right;
	display:block;
	height:200px;
	width:250px;
	
	}
	
#contenedor_submenu_footer2 ul{
	margin:0;
	padding:0;
	}
	
#contenedor_submenu_footer2 ul li{
	float:left;
	display:block;
	height:125px;
	width:125px;
	
	text-align:center;
	color:#FFF;
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	
	margin-top:30px;
	}
	
	
#contenedor_submenu_footer2 ul li a{
	text-decoration:none;
	color:#FFF;
	}

#contenedor_submenu_footer2 ul li a img{
	border:0;
	}
	
#contenedor_submenu_footer2 ul li a span{
	font-family: 'Raleway', sans-serif;
	float:left;
	display:block;
	height:30px;
	width:125px;
	color:#FFFFFF;
	font-size:12px;
	}
	
#contenedor_submenu_footer2 ul li a #direcion{
	text-align:right;
	font-size:9px;
	margin-top:15px;
	}
/* FIN - Footer */
/* Fin - Home */

#contenedor_principal{
	float: left;
	display: block;
	
	height: auto;
	width: 100%;
	background-color: #F4F1EC;
	padding-bottom:0px;
}
.contenedor_centrador{
	float:left;
	display:block;
	
	height:59px;
	width:100%;	
	
	border:0px solid #666;
	background-color: #F4F1EC;
}


#contendor_login2{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	margin-top:0px;	
}

.contenedor_nombre{
	float:left;
	height:20px;
	width:760px;
	text-align:center;
	color:#FFFFFF;	
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:22px;
}

#contenedor_titulo_login{
	background:url(../images/bg_titulo_panel_control.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:222px;
	
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;	
}
#contendor_login2 ul{
	float:left;
	display:block;
	
	height:auto;
	width:182px;
	
	padding:0;
	margin:0;	
}
#contendor_login2 ul li{
	float:left;
	display:block;
	
	height:auto;
	width:172px;
	
	color:#FFF;
	
	margin-left:10px;
	margin-top:10px;
	padding-bottom:10px;
	
	border-bottom:#CCCCCC 0px dotted;
}
#contendor_login2 li img{
	float:left;
	display:block;	
}
#contendor_login2 li a{
	float:left;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#fff;
	text-align:left;
	text-decoration:none;
	
	margin-left:8px;
	margin-top:2px;
		
}
#contendor_login2 li a:hover{
	text-decoration:underline;
}

/* CARRUSEL*/
#carousel_marcas{
	background:#FFF;
	float:left;
	display:block;
	
	height:150px;
	width:100%;
	
	text-align:center;
	
	/*border:#000000 1px solid;*/
}

#carousel_marcas h5{
	margin-top:15px;
	margin-bottom:20px;	
}
#contenedor_carousel {
	float:left;
	width:960px;
	height:70px;
	
	margin-left: 8px;
	margin-top:20px;
}
#carousel {
	position: relative; /* Necesario */
	overflow: hidden; /* Necesario */
	width:808px;
	height:56px;
	margin-left:80px;
	
}
#carousel .belt {
	position: absolute; /* Necesario */
	left: 0;
	top: 0;
}
#carousel .panel {
	width:275px;
	height:58px;
	border:0px solid #F00;
	float: left; /* Necesario */
	overflow: hidden;
	margin-right:15px;
	margin-left:20px;
}

.cont_nom_col_img{
	float:left;	
}

.cont_nom_col{
	float:left;	
	height:46px;
	width:181px;
	text-align:left;
	padding-left:5px;
	color:#9A8E58;
	padding-top:10px;
}

.cont_nom_col a{
	font-size:14px;	
}

#carousel .panel .panel-text {
	padding-top:5px;
	font-size:13px;
	font-family: 'Raleway', sans-serif;
	color:#FFF;
}
#carousel .panel .panel-text a {
	color:#CCC;
	text-decoration:none;
}
#carousel .panel .panel-text a:hover {
	color:#FFF;
	text-decoration:underline;
}
/* Botones del carousel */
.button-prev {
	height:70px;
	width:35px;
	float:left;
	-moz-border-radius:10px 0 0 10px;
}
.button-prev a {
	display:block;
	padding:5px;
	margin-top:0px;
}
.button-next {
	height:70px;
	width:35px;
	float:right;
	-moz-border-radius:0 10px 10px 0;
}
.button-next a {
	display:block;
	padding:5px;
	margin-top:0px;
}
/* FIN CARRUSEL*/

/* CARRUSEL 2 */
#carousel_marcas2{
	background-color:#E4E4E4;
	float:left;
	display:block;
	
	height:150px;
	width:100%;
	
	text-align:center;
	
	/*border:#000000 1px solid;*/
}
#contenedor_central_carousel2{
	margin:58px auto;
	width:980px;
	height:auto;	
}
#contenedor_carousel2 {
	float: right;
	/*margin:0 auto;*/
	width:780px;
	height:70px;
	
}
#carousel2 {
	position: relative; /* Necesario */
	overflow: hidden; /* Necesario */
	width:700px;
	height:50px;
	margin-left:35px;
	
	/*margin-top:30px;*/
	
	/*border:#000000 1px solid;*/
}
#carousel2 .belt2 {
	position: absolute; /* Necesario */
	left: 0;
	top: 0;
}
#carousel2 .panel2 {
	/*width:115px;*/
	float: left; /* Necesario */
	overflow: hidden;
	margin-right:15px;
	margin-left:20px;
	padding-left:10px;
	padding-right:10px;
}

.button-prev2 {
	
	float:left;
	-moz-border-radius:10px 0 0 10px;
}
.button-prev2 a {
	display:block;
	margin-top:0px;
}
.button-next2 {
	
	float:right;
	-moz-border-radius:0 10px 10px 0;
}
.button-next2 a {
	display:block;
	margin-top:0px;
}
#utilizamos{
	background:url(../images/logo_marcas/utilizamos_marcas.png) center no-repeat;
	float:left;
	display:block;
	
	height:36px;
	width:152px;	
}
/* FIN CARRUSEL 2 */


/* COMIDA CASERA */
.sub_contenedor2{
	margin:0 auto;
	width:960px;
	height:100%;
	
	/*border:#000 1px solid;
	border-top: #999 1px dotted;*/
}
#contenedor_superior2{
	float: left;
	background-color:#F4F1EC;
	width:100%;
	height: auto;
	
	/*border-bottom:#999999 1px dotted;*/
}
.contenedor_separador_standar{
	float:left;
	display:block;
	
	height:auto;
	width:960px;	
	
	margin-bottom:40px;
	
}
#barra_titulo_comida_casera{
	background-color:#104385;
	float:left;
	display:block;
	
	height:26px;
	width:960px;	
}
#barra_titulo_comida_casera img{
	float:right;
	display:block;	
}
#barra_titulo_comida_casera span{
	float:right;
	display:block;
	
	
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:left;
	font-weight:bold;
	
	margin-top:4px;
	margin-right:30px;	
}
#contenedor_titulo_verde{
	background-color:#B8B82D;
	float:left;
	display:block;
	
	height:100px;
	width:430px;
	
	padding-left:25px;
	padding-right:25px;
}
#contenedor_titulo_verde span{
	float:left;
	display:block;	
	
	width:350px;
	height:22px;
	
	font-family: 'Raleway', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#FFF;
	text-align:left;
	
	margin-top:25px;
}
#contenedor_titulo_verde label{
	float:left;
	display:block;	
	
	width:420px;
	
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:normal;
	color:#FFF;
	text-align:left;
	
}



#contenedor_titulo_rojo{
	background-color:#C4023D;
	float:left;
	display:block;
	
	height:100px;
	width:430px;
	
	padding-left:25px;
	padding-right:25px;
}
#contenedor_titulo_rojo span{
	float:left;
	display:block;	
	
	width:350px;
	height:22px;
	
	font-family: 'Raleway', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#FFF;
	text-align:left;
	
	margin-top:25px;
}

#contenedor_titulo_silver{
	background-color:#2E2E2D;
	float:left;
	display:block;
	
	height:100px;
	width:430px;
	
	padding-left:25px;
	padding-right:25px;
}
#contenedor_titulo_silver span{
	float:left;
	display:block;	
	
	width:350px;
	height:22px;
	
	font-family: 'Raleway', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#FFF;
	text-align:left;
	
	margin-top:25px;
}

#contenedor_titulo_silver label{
	float:left;
	display:block;	
	
	width:420px;
	
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;
	text-align:left;
	
}

#contenedor_titulo_rojo label{
	float:left;
	display:block;	
	
	width:420px;
	
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#FFF;
	text-align:left;
	
}
.opcion_menu_comida_casera{
	background:url(../images/fondo_menu_comida_casera.png) center repeat;
	float:left;
	display:block;
	
	height:60px;
	width:300px;
	
	margin-right:27px;	
	margin-top:20px;
	
	border:#CCCCCC 1px solid;
}
.opcion_menu_comida_casera img{
	float:left;
	display:block;
	
	cursor:pointer;
	
	margin-left:15px;
	margin-top:10px;	
}
.opcion_menu_comida_casera span{
	float:left;
	display:block;
	
	height:22px;
	width:230px;
	
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#333333;
	text-align:left;
	
	cursor:pointer;
	
	margin-top:7px;
	margin-left:10px;	
}
.opcion_menu_comida_casera label{
	float:left;
	display:block;
	
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	cursor:pointer;
	
	margin-top:0px;
	margin-left:10px;
}
.opcion_menu_comida_casera a{
	float:right;
	display:block;
	
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-align:left;
	font-style:italic;
	cursor:pointer;
	text-decoration:none;
	
	margin-top:6px;
	margin-right:15px;	
}
.opcion_menu_comida_casera a:hover{
	text-decoration:underline;
	color:#000000;
}
.opcion_menu_saludable{
	background:#F5F5F5;
	float:left;
	display:block;	
	
	height:150px;
	width:300px;
	
	margin-top:20px;
	margin-right:27px;
	
	border:#EFEFEF 1px solid;
	border-bottom:none;
}
.opcion_menu_saludable img{
	float:left;
	display:block;	
	
	cursor:pointer;
}
.opcion_menu_saludable span{
	float:left;
	display:block;
	
	height:auto;
	width:135px;
	
	font-family: 'Raleway', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#333333;
	text-align:left;
	cursor:pointer;
	
	margin-top:25px;
	margin-left:15px;	
}
.opcion_menu_saludable label{
	float:left;
	display:block;
	
	height:auto;
	width:123px;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#666666;
	text-align:left;
	cursor:pointer;
	
	margin-top:10px;
	margin-left:15px;	
}
.opcion_menu_saludable a{
	float:right;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#666666;
	text-align:left;
	font-style:italic;
	cursor:pointer;
	
	cursor:pointer;
	text-decoration:none;
	
	margin-top:10px;
	margin-right:15px;	
}
.opcion_menu_saludable a:hover{
	text-decoration:underline;	
}
#fecha_verde{
	background:url(../images/flecha_verde.png) center no-repeat;
	float:left;
	display:block;
	
	height:18px;
	width:38px;
	
	margin-left:200px;
	/*
	margin-left:530px;
	margin-left:860px;
	*/
}

.contenedor_colacion_preescolares {
	float:left;
	width:800px;
	margin-left:90px;
	margin-bottom:25px;
	margin-top:15px;
}
.contenedor_colacion_preescolares table {
	border-left:2px solid #FFF;
	border-top:2px solid #FFF;
	font-family: 'Raleway', sans-serif;
	line-height:10px;
	font-size:10px;
	color:#000;
}
.contenedor_colacion_preescolares table td {
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
}
.tr_superior {
	height:53px;
}
.tr_inferior {
	height:35px;
}
.dia_semana {
	font-size:13px;
	color:#FFF;
}
#imagen_preescolares_tren {
	width:775px;
	height:auto;	
}
#imagen_preescolares_tren img {
	float:right;
	margin-bottom:5px;
}
#seccion_colaciones_saludables{
	float:left;
	display:none;	
}
/* FIN COMIDA CASERA*/

#fondo_box2{
	background:#000000;
	position:fixed;
	display:none;
	
	height:100%;
	width:100%;
	
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);	
	
	z-index:999;
}
#box2{
	background-color:#E4E4E4;
	position:fixed;
	display:none;
	
	height:260px;
	width:222px;
	
	margin:auto;
	
	left:0;
	right:0;
	top:0;
	bottom:0;
	
	z-index:1000;
	/*
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	*/
}

.triangulo{
	float:right;
	display:block;		
}

#titulo_recuperar{
	font-family: 'Raleway', sans-serif;
	background:	#104385;
	float:left;
	display:block;
	
	height:26px;
	width:222px;
}
#titulo_recuperar span{
	float:left;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:15px;
	color:#FFFFFF;	
	text-align:right;
	
	margin-left:10px;
	margin-top:5px;	
}
#box2 p{
	float:left;
	display:block;
	
	height:auto;
	width:200px;
	
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-left:15px;	
}
#box2 input{
	float:left;
	display:block;
	
	height:18px;
	width:176px;
	
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	font-style:italic;
	font-weight:bold;
	color:#333333;
	
	padding-left:5px;
	padding-right:5px;
	margin-left:16px;
	margin-top:15px;
}
#boton_recuperar{
	background-color:#104385;
	padding:11px 5px 5px 5px;
	float:left;
	display:block;
	
	height:16px;
	width:150px;
	
	cursor:pointer;
	
	margin-left:30px;
	margin-top:15px;
	
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:9px;
	border-radius:5px;
}
#boton_recuperar:active{
	background-size:95% 95%;	
}
#boton_cerrar_box2{
	background-color:#104385;
	padding:11px 5px 5px 5px;
	float:left;
	display:block;
	
	height:16px;
	width:150px;
	
	cursor:pointer;
	
	margin-left:30px;
	margin-top:15px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:9px;
	border-radius:5px;
}
#boton_cerrar_box2:active{
	background-size:95% 95%;	
}
#olvidaste{
	cursor:pointer;	
	color:#FFFFFF;
}

/* RECARGATE DE ENERGIA */
#titulo_recargate_energia{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;	
	
	margin-top:30px;
	padding-bottom:1px;
	
	border-bottom:#666666 1px dotted; 
}
#seccion_recargate_energia ul{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	margin:0px;
	padding:0px;	
	
	margin-top:20px;
}
#seccion_recargate_energia li{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	margin:0px;
	padding:0px;	
}
#seccion_recargate_energia li span{
	float:left;
	display:block;
	
	height:auto;
	width:75px;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;	
}
#seccion_recargate_energia li label{
	float:left;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#666666;
	text-align:left;	
}
#seccion_recargate_energia p{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#666666;
	text-align:left;
	
	margin-top:15px;
	margin-bottom:30px;	
}
#seccion_recargate_energia table{
	margin:20px auto;
	
	border:#B981B1 1px solid;
}
#seccion_recargate_energia table th{
	background-color:#762168;
	
	height:30px;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	
}
#seccion_recargate_energia table td{

	font-family: 'Raleway', sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#333333;
	text-align:center;
	
	padding:10px;
}
.calipso{
	color:#299CA2 !important;
	font-weight:bold !important;
	font-size:13px !important;	
}
/* FIN RECARGATE DE ENERGIA */

/* RECETAS */
#contenedor_recetas{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	min-height:500px;	
}

.receta{
	float:left;
	display:block;
	
	width:300px;
	height:150px;
	
	margin-top:20px;
	margin-right:27px;
	
	border:#CCCCCC 1px solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;	
}
.receta img{
	float:left;
	display:block;
	
	border:none;	
}
.receta label{
	float:left;
	display:block;
	
	height:auto;
	width:130px;	
	
	font-family: 'Raleway', sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#333333;
	text-align:left;
	line-height:20px;
	
	margin-left:15px;
	margin-top:25px;
}
.receta span{
	float:left;
	display:block;
	
	height:auto;
	width:130px;	
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	line-height:15px;
	
	margin-left:15px;
	margin-top:15px;	
}
.receta a{
	float:right;
	display:block;
	
	height:auto;
	width:110px;	
	
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	line-height:15px;
	font-style:italic;
	cursor:pointer;
	
	margin-right:10px;
	margin-top:10px;	
}
.receta a:hover{
	text-decoration:underline;
	color:#333333;
}
.receta a img{
	float:right;	
}
.receta_final_fila{
	margin-right:0px !important;	
}

#contenedor_recetas p{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#666666;
	text-align:center;
	
}
/* FIN RECETAS */

/* CONTACTO */
.fila_contacto{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	margin-top:24px;
}
.columna_contacto{
	float:left;
	display:block;
	
	height:auto;
	width:480px;	
}
.fila_contacto span{
	float:left;
	display:block;
	
	height:auto;
	width:115px;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-top:2px;	
}
.fila_contacto textarea{
	float:left;
	display:block;
	
	border-radius:5px;
	
	
	height:100px;
	width:676px;
	max-width:676px;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-top:2px;	
	padding:5px 10px 5px 10px;
}
.columna_contacto span{
	float:left;
	display:block;
	
	height:auto;
	width:115px;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-top:2px;	
}
.columna_contacto input{
	float:left;
	display:block;
	
	border-radius:5px;
	
	height:18px;
	width:194px;
	border: #999999 1px solid;
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	padding-left:10px;
	padding-right:10px;	
}
.columna_contacto select{
	float:left;
	display:block;
	
	height:24px;
	width:218px;
	
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	padding-left:10px;
	padding-right:10px;	
}
#boton_enviar_contacto{
	background-color: #104385;
	padding: 9px 5px 5px 5px;
	float:right;
	display:block;
	
	height: 18px;
	width: 90px;
	color: #FFFFFF;
	cursor:pointer;
	text-transform: uppercase;
	font-size: 12px;
	margin-right: 25px;
	border-radius: 5px;		
}

/* FIN CONTACTO */

/* QUIENES SOMOS */
.separador_vertical50{
	float:left;
	display:block;
	
	height:auto;
	width:50%;
	margin-bottom:40px;
	
}
.separador_vertical50 span{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	
	margin-top:30px;
	margin-bottom:10px;
	
	border-bottom:#666666 1px dotted;
}
.separador_vertical50 p{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;

}

.separador_vertical50 label{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#666666;
	text-align:right;
	
	margin-top:27px;
	margin-bottom:10px;
	
	border-bottom:#666666 1px dotted;
}
.separador_vertical50 ul li{
	float:left;
	/*display:block;*/
	
	height:auto;
	width:100%;
	
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666;
	text-align:left;
	list-style:outside;
	
	margin-top:10px;
}
.sub_title_quienes_somos{
	float:left;
	
	margin-left:40px;
	margin-bottom:10px;
	margin-top:30px;
	
	font-size:15px !important;	
}
/* FIN QUIENES SOMOS */

/* PREGUNTAS FRECUENTES */
.acc_trigger{
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#666666 !important;
	text-align:left;
	text-decoration:none;
	
	border-bottom:#666666 1px dotted;
}
.acc_trigger a{
	color:#666666 !important;
	text-decoration:none;
	text-transform:uppercase;
}
.acc_trigger a:hover{
	color:#333 !important;	
}
.active a{
	color:#104385 !important;		
}
.acc_container{
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#666666 !important;
	text-align:left;
}
/* FIN PREGUNTAS FRECUENTES */


#contenedor_avance{
	float:left;
	display:block;
	
	height:205px;
	width:100%;
	
	padding-top:20px;
	margin-bottom:0px;
	background-color:#fff;
}
#linea_avance{
	background-color:#CCCCCC;
	float:left;
	display:block;
	
	height:10px;
	width:100%;	
	
	margin-top:60px;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	
}

.contenedor_paso_avance{
	float:left;
	display:block;
	
	height:168px;
	width:106px;
	
	margin-top: 12px;
	
	z-index:20;	
}

#icono_avance_paso1{
	background:url(../images/colegio.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:100%;
}
#icono_avance_paso2{
	background:url(../images/monito.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:100%;
}
#icono_avance_paso3{
	background:url(../images/colegios.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:100%;
}
#icono_avance_paso4{
	background:url(../images/icono1.png) center no-repeat;
	float:left;
	display:block;
	
	height:25px;
	width:100%;
}
.circulo_externo_avance{
	float:left;
	display:block;
	
	height:126px;
	width:106px;
	
	margin-left:0px;
	margin-top:0px;
	
	border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	-webkit-border-radius:30px;
}
.circulo_interno_avance{
	float:left;
	display:block;
	
	height:126px;
	width:106px;
	
	margin-left:1px;
	margin-top:1px;
	
	border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	-webkit-border-radius:30px;
	
	border:#FFF 1px solid;
}

.circulo_interno_avance span{
	float:left;
	display:block;
	
	height:auto;
	width:41px;
	
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:24px !important;
	font-weight:bold;
	color:#FFF !important;
	
	margin-top:3px;
}

.paso_asociar{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
	
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#CCCCCC;
	
	margin-top:3px;
}

#paso1_avance{
	background:url(../img_new/login/pasos_compra_img1.png) no-repeat; 
	background-position:top; 
	margin-left:0px;	
}

#paso2_avance{
	background:url(../img_new/login/pasos_compra_img2.png) no-repeat; 
	background-position:top; 
	margin-left:0px;	
}

#paso3_avance{
	background:url(../img_new/login/pasos_compra_img3.png) no-repeat; 
	background-position:top; 
	margin-left:0px;	
}

#paso4_avance{
	background:url(../img_new/login/pasos_compra_img4.png) no-repeat; 
	background-position:top; 
	margin-left:0px;	
}

.activo .paso_asociar{
	color:#666666 !important;	
}

.activo .circulo_externo_avance{
	background-color:#00B0AC;
}
.activo .circulo_interno_avance{
	background-color:#00B0AC;
}
.numero{
	background-color:#00B0AC;
	float:left;
	display:block;
	
	height:25px;
	width:25px;
	
	margin-top:11px;
	
	border-radius:30px;
		
}
.numero span{
	float:left;
	display:block;
	
	height:auto;
	width:100%;
		
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	
	margin-top:2px;	
}
.texto_titulo_acor{
	width:670px !important;
}
#boton_guardar_colegio{
	background-color:#104385;
	padding:9px 5px 5px 5px;
	float:right;
	display:block;
	
	height:18px;
	width:90px;
	
	cursor:pointer;
	color:#FFFFFF;
	margin-right:18px;
	text-transform:uppercase;
	font-size:12px;
	border-radius:5px;	
}
#boton_guardar_colegio:active{
	background-size:95% 95%;
}
#descargar_menu_asociar img{
	float:left;
	display:block;
	
	margin-right:10px;
	margin-top:-5px;	
}
#descargar_menu_asociar{
	float:right;
	display:none;
	
	height:auto;
	width:auto;
	
	text-align:right;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#999999;	
	text-decoration:none;
	
	margin-top:5px;
}
#descargar_menu_asociar:hover{
	text-decoration:underline;
}

#boton_volver_asoc_colegio{
	background-color:#666;
	padding:9px 5px 5px 5px;
	float:right;
	display:block;
	
	height:18px;
	width:90px;
	
	cursor:pointer;
	
	margin-right:0px;
	margin-left:15px;
	margin-top:10px;
	
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:12px;
	border-radius:5px;
}
#boton_volver_asoc_colegio:active{
	background-size:95% 95%;	
}

#boton_agregar_asoc_colegio{
	background-color:#104385;
	padding:9px 5px 5px 5px;
	float:right;
	display:block;
	
	height:18px;
	width:90px;
	
	cursor:pointer;
	
	margin-top:10px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:12px;
	border-radius:5px;
}

#boton_agregar_asoc_colegio:active{
	background-size:95% 95%;
}

#boton_asociar{
	background-color:#104385;
	padding:9px 5px 5px 5px;
	float:right;
	display:block;
	
	height:18px;
	width:90px;
	
	cursor:pointer;
	
	margin-top:10px;
	margin-right:2px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:12px;
	border-radius:5px;	
}
#boton_asociar:active{
	background-size:95% 95%;
}

#boton_comprar_asoc{
	background-color:#104385;
	padding:9px 5px 5px 5px;
	float:right;
	display:block;
	
	height:18px;
	width:90px;
	
	cursor:pointer;
	
	margin-top:10px;
	margin-right:10px;
	
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:12px;
	border-radius:5px;	
}
#boton_comprar_asoc:active{
	background-size:95% 95%;	
}

.contenedor_barra_cargando{
	float:left;
	display:block;
	
	height:auto;
	width:215px;
	
	margin-left:347px;
}


/**/
.class_ul_l{
	border-right:none !important;	
}
	
.contenedor_rojo{
	float:left;
	background:url(../img_new/login/franja_index.jpg);
	width:100%;
	height:106px;	
}

.contenedor_login{
	width:960px;
	height:106px;
	margin:auto;	
}

.login_imagen1{
	float:left;
	background:url(../img_new/login/img1.png) no-repeat top;
	width:53px;
	height:59px;
	margin-top:23px;	
}

.cont_texto {
	float:left;
	width:200px;
	height:45px;
	margin-top:32px;	
}

.cont_texto h2 {
	float:left;
	font-family: 'Raleway', sans-serif;
	text-transform:uppercase;
	color:#FFFFFF;	
	width:100%;
	margin:0;
	font-size:18px;
}

.cont_texto span{
	float:left;
	font-family: 'Raleway', sans-serif;
	width:100%;
	color:#FFFFFF;
	font-size:10px;
}

.contenedor_input_ingreso_new{
	float:left;
	width:370px;
	height:102px;
	margin-top:20px;	
}

.contenedor_input_ingreso_new input{
	float: left;
	border-radius:5px;
	border:1px solid #CCC;
	height: 35px;
	width: 250px;
	margin-top: 8px;
	margin-left: 52px;
	padding-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #666;
	font-weight: 400;
	font-style: italic;	
}

#boton_ingresar_login{
	background:#104385;
	border-radius:5px;
	padding-left:35px;
	padding-right:35px;
	font-family: 'Raleway', sans-serif;;
	font-size: 10px;
	text-align:center;
	text-transform:uppercase;
	color:#FFFFFF;
	height:22px;
	padding-top:10px;
	cursor:pointer;
	margin-top:0px;	
	min-width:192px;
	margin-left:52px;	
}

#boton_ingresar_login:hover{
	opacity:0.9;	
}

#olvidaste_contrasena a{
	float:left;
	font-family: 'Raleway', sans-serif;
	width:100%;
	color:#777;
	font-size:10px;	
	margin-top:5px;
	margin-left:114px;
}

.cont_bot_1{
	float:left;
	width:368px;
	height:59px;	
	margin-top:0px;
	border-left:0px solid #CCC;
}

.stilo_left1{
	margin-left:48px;
}

.stilo_left2{
	margin-left:12px;
	margin-top:0px !important;
}

.boton_generico_blanco{
	float:left;
	background:transparent;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #FFF;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	text-align:center;
	text-transform:uppercase;
	color:#FFFFFF;
	height:22px;
	padding-top:10px;
	cursor:pointer;
	margin-top:0px;	
	text-decoration:none;	
}

.con_botmas{
	float:left;
	width:100%;
	height:auto;
	text-align:center;	
}

.cent_bot_mas{
	margin-top:10px;
	margin-left:120px;
}

.boton_generico_ver_mas{
	float:left;
	background:#104385;
	border-radius:5px;
	padding-left:40px;
	padding-right:40px;
	border:0px solid #FFF;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	text-align:center;
	text-transform:uppercase;
	color:#FFFFFF;
	height:22px;
	padding-top:10px;
	cursor:pointer;
	text-decoration:none;	
}

.boton_generico_ver_mas:hover{
	opacity:0.9;	
}

.cont_cont{
	float:left;
	width:265px;
	height:auto;
	margin-left:70px;
	margin-top:47px;	
}

.cont_tel_ubi{
	float:left;
	width:100%;
	height:auto;
	text-align:left;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	color:#FFFFFF;	
	margin-bottom:20px;
	font-size:12px;
}

.cont_tel_ubi img{
	float:left;
	margin-right:5px;	
}

.cont_img_home{
	float:left;
	width:230px;
	height:auto;		
}

.cont_img_home img{
	float:left;	
	margin-left:36px;
}

.separa_pasos{
	width:45px;
	height:125px;;
	float:left;
	padding-left:5px;
	padding-right:5px;	
	padding-top:80px;
}

.mgpas1{
	margin-left:186px;	
}

.flecha_dudas{
	float:right;
	width:20px;
	height:20px;
	background:url(../img_new/login/flecha_dudas.png) no-repeat;
	background-position:bottom;
	margin-right:25px;
	margin-top:14px;	
}

.flecha_sig_menu{
	float:right;
	background:url(../img_new/login/flecha_menu_izq.png) no-repeat;
	background-repeat:no-repeat;
	width:23px;
	height:46px;
	margin-top:-11px;	
	display:none;
}

.contendor_login_datos{
	float:right;
	height:59px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	width:147px;
	background:#104385;	
}

.contendor_login_datos img{
	margin-top:12px;	
}

.contendor_login_datos span{
	float:left;
	width:100%;
	height:auto;
	color:#FFF;
	font-size:12px !important;	
}

.contendor_login_datos:hover{
	cursor:pointer;
	opacity:0.9;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-size:12px;	
}

.panel_sel_menu{
	background:#FFFFFF;
	float:left;
	width:222px;
	padding:5px;
	border-bottom:0px solid #CCC;
	border-right:0px solid #CCC;	
}

.cont_nom_col_img_menu_col{
	float:left;	
	height:46px;
	width:158px;
	text-align:left;
	padding-left:5px;
	color:#9A8E58;
	padding-top:10px;
}

.cont_nom_col_img_menu_col a{
	font-size:12px;	
	height:auto;
}

.panel_sel_menu:hover{
	background:#F0F0E1;
	cursor:pointer;	
}

.class_mg10{
	margin-top:10px;	
}

.style_deta {
	float:left;
	font-family: 'Raleway', sans-serif;
}

.style_deta tr th {
  background:#5E3F4B !important;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  height: 34px;
  padding-top: 5px;
}

.numero_pregunta_frecuente{
	font-family: 'Raleway', sans-serif;
	color:#FFFFFF;
	font-size:28px;
	float:left;
	background:url(../img_new/login/back_new_num_pf.png) no-repeat;
	width:70px;
	height:42px;
	color:#FFFFFF;
	text-align:center;
	padding-top:9px;	
}

.contenedor_ingreso_login{
	background:url(../img_new/login/backg_back.png);
	position:fixed;
	width:100%;
	height:100%;
	z-index:200;	
	display:none;
}

#contenedor_login_back{
	background:url(../img_new/login/back_fondo_ingreso.png) no-repeat;
	position:fixed;
	width:380px;
	height:568px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;	
}

.contenedor_login_top_ing{
	float:left;
	width:374px;
	margin-left:5px;
	height:43px;
	margin-top:3px;	
}

.contenedor_login_top_ing a{
	text-decoration:none;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	color:#777;
	float:left;
	margin-top: 30px;
  	margin-left: 22px;
}

#cerrar_login{
	float:right;
	background:url(../img_new/login/cerrar_login_icn.png) no-repeat;
	width:38px;
	height:45px;	
	margin-right:16px;
}

#cerrar_login:hover{
	opacity:0.9;
	cursor:pointer;	
}

.contenedor_input_login{
	  float: left;
	  width: 370px;
	  height: 180px;
	  margin-left: 5px;
	  border: 0px solid #666;
	  margin-top: 208px;
}

#boton_login_user_facebook{
	background-color:#55ABED;
	background-image:url(../img_new/login/f_boton_fondo.png);
	background-position: 178px; 
	background-repeat:no-repeat; 
	border-radius:5px;
	min-width:192px;
	height:22px;
	padding-top: 10px;
	padding-left:35px;
	padding-right:35px;
	float:left;
	margin-left: 52px;
  	margin-top: 78px;
	font-family: 'Raleway', sans-serif;
	color:#FFFFFF;
	font-size:10px;
	text-transform:uppercase;
	text-align:center;
}

#boton_login_user_facebook:hover{
	opacity:0.9;
	cursor:pointer;	
}

.cont_bot_3 {
  float: right;
  width: 100px;
  height: 59px;
  margin-top: 0px;
  border-left: 0px solid #CCC;
}

.cuadro_colegios_per{
	float:left;
	background:#FFF;
	width:930px;
	height:auto;	
	padding-left:5px;
	padding-right:5px;
	padding-bottom:20px;
}

.concretao_10_pad{
	margin-left:10px !important;	
}