
#contenedor_principal_imc{
	float:left;
	margin-left:50px;
	display:block;
	height:600px;
	width:800px;
	}
	
#titulo_imc{
	float:left;
	display:block;
	height:28px;
	width:396px;	
	
	margin-top:20px;
	margin-left:44px;
	
	/*border:#FF0000 1px solid;*/
	}
	
#titulo_imc h3{
	color:#FF6600;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	font-style:italic;
	font-weight:bold;	
	
	padding:0;
	margin:0;	
	}
	
	
#detalle_imc{
	float:left;
	display:block;
	height:99px;
	width:713px;	
	
	margin-left:44px;
		
	border-top:#999999 1px dotted;
	border-bottom:#999999 1px dotted;	
	}
	
#detalle_imc p{
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#333333;
	
	}
	
#contenedor_calculo_imc{
	float:left;
	display:block;
	height:120px;
	width:713px;	
	
	margin-left:44px;

	/*border:#F00 1px solid;*/
	}
	
.contenedor_input_imc{
	float:left;
	display:block;
	height:64px;
	width:150px;	
	
	margin-left:30px;
	margin-top:20px;
	
	/*border:#F00 1px solid;	*/
	}
	
.contenedor_titulo_calculo_imc{
	float:left;
	display:block;
	height:24px;
	width:150px;	
	
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#666666;
	
	text-align:center;
	
	/*border:#F00 1px solid;	*/
	}
	
.contenedor_input_calculo_imc{
	float:left;
	display:block;
	height:24px;
	width:150px;	
	
	/*border:#F00 1px solid;		*/
	}
	
.contenedor_input_calculo_imc input{
	border:#CCCCCC 1px solid;
	border-radius:5px;
	padding-left:10px;
	}
	
	
#boton_calcular_imc{
	background:url(../images/boton_calcular_imc.jpg) center no-repeat;
	float:left;
	display:block;
	height:32px;
	width:130px;	
	
	margin-top:40px;
	margin-left:30px;
	
	cursor:pointer;
	
	/*border:#F00 1px solid;*/
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;		
	}
#boton_calcular_imc:active{
	background-size:95% 95%;	
}	
#contenedor_resultado_imc{
	/*background:url(../images/fondo_resultado_imc.jpg) top left no-repeat;*/
	background:#EEE;
	float:left;
	display:block;
	height:70px;
	width:105px;	
	
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-style:normal;
	font-size:14px;
	text-transform:uppercase;
	
	color:#666666; 
	
	padding-top:15px;
	
	margin-top:20px;
	margin-left:40px;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;	
	
	box-shadow:#000 1px 1px 5px;
	-moz-box-shadow:#000 1px 1px 5px;
	-ms-box-shadow:#000 1px 1px 5px;
	-webkit-box-shadow:#000 1px 1px 5px;
	-o-box-shadow:#000 1px 1px 5px;
}
	
	
#contenedor_resultado_imc span{
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-style:normal;
	font-size:24px;
	text-transform:uppercase;

	
	}
	
	
#contenedor_explicacion_calculo_imc{
	float:left;
	display:block;
	height:99px;
	width:713px;	
	
	margin-left:44px;
		
	border-top:#999999 1px dotted;
	
	
	}
	
#contenedor_explicacion_calculo_imc p{
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#333333;

	}
	
	
#contenedor_tabla_resultado_imc{
	background:url(../images/tabla_imc.jpg) top left no-repeat;
	float:left;
	display:block;
	height:210px;
	width:570px;
	
	margin-left:105px;
	
	/*border:#FF0000 1px solid;		*/
	}
