.titulo_menu{
	float:left;
	display:block;
	
	height:auto;
	width:700px;
	
	margin-left:13px;
	margin-top:20px;
	
	border-bottom:#666666 1px dotted;	
}
.titulo_menu{
	float:left;
	display:block;
	
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#666666;
	text-align:left;
		
}

.fila_filtro_menu{
	float:left;
	display:block;
	
	height:auto;
	width:500px;
		
	margin-left:13px;
	margin-top:15px;
}
.fila_filtro_menu span{
	float:left;
	display:block;
	
	height:auto;
	width:70px;
	
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#666666;
	text-align:left;
	
	margin-top:2px;
}
.fila_filtro_menu select{
	float:left;
	display:block;
	
	height:32px;
	width:218px;
	
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#999999;
	text-align:left;
}
#boton_ver_menu{
	background-color:#C31B35;
	padding:9px 5px 5px 5px;
	float:left;
	display:block;
	
	height:18px;
	width:90px;
	
	cursor:pointer;
	color:#FFFFFF;
	margin-top:0px;	
	
	cursor:pointer;
	text-transform:uppercase;
	font-size:12px;
	border-radius:5px;
	
	margin-left:30px;	
}


.fila_filtro_menu2 div{
	float:left;
	display:block;

	height:57px;
	width:auto;	
	
	cursor:pointer;
	
	margin-top:20px;
	margin-left:7px;
}
.fila_filtro_menu2 img{
	float:left;
	display:block;
}
.fila_filtro_menu2 a{
	float:left;
	display:block;
	
	height:auto;
	width:auto;
	
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#999999;
	text-align:left;
	
	cursor:pointer;
	
	margin-top:13px;
	margin-left:10px;	
}
.fila_filtro_menu2 a:hover{
	text-decoration:underline;	
}
.fila_filtro_menu2{
	float:left;
	display:block;
	
	height:auto;
	width:220px;
	background-color:#FFFFFF !important;	
	margin-left:80px;
	margin-top:20px;
}
#menu_semanal{
	float:left;
	display:block;
	
	height:auto;
	width:auto;
	
	min-height:514px;
	min-width:700px;
	
	margin-left:0px;
	margin-top:0px;	
}
#contenedor_calendario{
	float:right;
	display:block;
	
	height:auto;
	width:200px;	
	
	margin-top:15px;
}
#menu_semanal table tr td {
	background:url(../img_new/login/back_franja.jpg);
	color: #FFFFFF;
	height: 46px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
#menu_semanal table li {
	color: #333;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	list-style: none;
	height: 150px;
	text-align:left !important;
}
.contenedor_menu_acomodador {
	color: #333;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	list-style: none;
	height: 150px;
	width: 96px;
	margin-left: 38px;
	margin-right: 10px;
	margin-top: 10px;
	/*border: #000 1px solid;*/
}
.punto_menu {
	float: left;
	display: block;
	height: 20px;
	width: 20px;
	margin-left: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	/*border: #000 1px solid;*/
}

#salad {
	background:url(../images/rojo.png) center no-repeat;
	background-size:100% 100%;
	/*background-color: #EC571F;*/
	margin-top: 3px;
}
#sopa {
	/*background-color: #F6C651;*/
	margin-top: 13px;
}
#plato_fondo {
	background:url(../images/amarillo.png) center no-repeat;
	background-size:100% 100%;
	/*background-color: #48B9A5;*/
	margin-top: 13px;
}
#postre {
	background:url(../images/morado.png) center no-repeat;
	background-size:100% 100%;
	/*background-color: #95C023;*/
	margin-top: 13px;
}
#acompanamiento{
	background:url(../images/celeste.png) center no-repeat;
	background-size:100% 100%;
	margin-top: 13px;
}
#menulight{
	background:url(../images/verde.png) center no-repeat;
	background-size:100% 100%;
	margin-top: 13px;
}
#menu_semanal span{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif !important;
}

.cont_pack{
	float:left;
	background:#fff;
	height:auto;
	width:960px;
	background-color:#FFFFFF;	
	padding-bottom:30px;
}























