.quicksand{font-family: 'Quicksand', sans-serif;}

.azul_oscuro{color: #0A4187 !important;}
.gris_oscuro{color: #444444 !important;}
.verde{color: #74B913 !important;}
.blanco{color: #FFFFFF !important;}

.bold{font-weight: bold;}

.size-titulo{font-size:28px !important;}
.size-sub-titulo{font-size:17px !important;}
.size-texto{font-size:14px !important;}

.bg_azul{background-color: #0A4187 !important;}
.bg_blanco{    background-color: #FFFFFF !important;}

.bg_comprobante{
    background-image: url(../images/comprobante/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;

}
.bg_verde{
    background-image: url("../images/comprobante/baner1.jpg");
    background-repeat: no-repeat;

}
.bg_pago{
    background-image: url("../images/comprobante/pagado.png");
    background-repeat: no-repeat;
}
.decoracion-no{
    text-decoration: none;
}

.w100{
    width: 100px;
}
.w80{
    width: 80px;
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}

.vertical-align-bottom{
    vertical-align: bottom;
}

.tablas_comprobante{
    width: 750px;
}
.tablas_comprobante tr {
    height: auto;
    width: 100%;
}
.tablas_comprobante td {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 10px;
}

.tabla_header{
    width: 100%;
}


/* paddin */
.pb10 {
    padding-bottom: 10px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pl10{
    padding-left: 10px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pl20{
    padding-left: 20px !important;
}