.especial h1{
	background-color: #FFFFFF;
	float: left;
	display: block;
	
	height: auto;
	width: 100%;
	
	font-size: 20px;
	color: #666666;
	
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 2%;
	padding-right: 2%;
	
	margin: 0px;	
}

.especial h2{
	background-color:#F6F5F3;
	float: left;
	display: block;
	
	height: auto;
	width: 100%;
	
	font-size: 20px;
	color:#6FA100;
	
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 2%;
	padding-right: 2%;
	
	margin: 0px;
	
	border-top:#DBDBDB 1px solid;	
	border-bottom:#DBDBDB 1px solid;	
}

.contenedor_stand{
	background-color:#EDECE7;
	float:left;
	display:block;
	
	width:100%;	
	height:auto;
}
.contenedor_stand_50{
	background-color:#EDECE7;
	float:left;
	display:block;
	
	width:100%;	
	height:auto;
	
	margin-left:15%;
	
	padding-top:20px;
}
.contenedor_stand select, .contenedor_stand button{
	margin-top:10px;
	margin-bottom:10px;	
}
.row{
	float: left;
    width: 100%;	
}

.circulo{
	float:left;
	display:block;
	
	height:15px;
	width:15px;
	
	border-radius:100px;
	-moz-border-radius:100px;
	-ms-border-radius:100px;
	-o-border-radius:100px;
	-webkit-border-radius:100px;	
	
	margin-right:10px;
}
.verde{
	background-color:#7CB47C;
}
.azul{
	background-color:#A7B3BC;
}
.azul_oscuro{
	background-color:#2577B5;
}






























