body{
    margin: 0;
    background-color: #0e90d2;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contenedor_login{
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 44%;
    height: 52vh;
    min-height: 418px;
    max-height: 430px;
    min-width: 300px;
    max-width: 460px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 70px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 70px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 70px 1px rgba(0,0,0,0.75);
    margin-top: 150px;
}

#logo_empresa{
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 21px;
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
}

#datos{
    float: left;
    display: block;
    width: 100%;
    height: 98px;
    /* margin-left: 50px; */
    margin-top: 40px;
}

.dato{
    float: left;
    display: block;
    background-position: 10px center;
    background-repeat: no-repeat;
    height: 50px;
    width: 80%;
    max-width: 360px;
    min-width: 70%;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    color: #ECB700;
    padding-left: 40px;
    margin-left: 10%;
    margin-bottom: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.dato::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #bebebe;
}

.ico1{
    background-image: url(../images/login/ico1.jpg);    
}
.ico2{
    background-image: url(../images/login/ico2.jpg);    
}

#boton_ingresar{
    background-color: #84C000;
    float: left;
    display: block;
    height: 50px;
    width: 79%;
    font-family: Arial;
    font-size: 23px;
    text-align: center;
    padding-top: 14px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10%;
    cursor: pointer;
}
#boton_ingresar:hover{
    background-color: #8FD500;
    
}

#boton_ingresar:active{
    background-color: #77B000;
    
}

#recuperar_contrasena{
    float: left;
    display: block;
    height: 18px;
    width: 142px;
    
    color: #999999;
    font-family: Arial;
    font-size: 12px;
    text-align: left;
        
    margin-top: 25px;
    margin-left: 50px;
    
    cursor: pointer;
}

#recuperar_contrasena:hover{
    color: #888888;
}



#footer{
    background-image: url(../images/login/logo_bhstudios.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    width: 100%;
    height: 150px;
}