.boton_derecha{
    float: right;
    background-color: transparent!important;
}

.contenedor_datos_importados{


}

.pointer{
    cursor: pointer;
}

.scroll100{
    float:left;
    display:block;
    overflow:auto;

    width:99.9%;
}
.scrollauto{
    float:left;
    display:block;
    /*overflow:auto;*/

    width:auto;
    min-width: 100%;
}

.paso1{
    background-image: url('../images/paso1.png');
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
}

.paso2{
    background-image: url('../images/paso2.png');
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
}

.paso3{
    background-image: url('../images/paso3.png');
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
}

.paso-flecha{
    background-image: url('../images/flecha1.png');
    background-repeat: no-repeat;
    height: 43px;
    width: 47px;
}

.paso-bottom{
    background-position: bottom;
}

.paso-top{
    background-position: top;
}


.paso1_datos{
    display: block;
}

.paso2_datos{
    display: none;
}

.paso3_datos{
    display: none;
}


.mt38{
    margin-top: 38px;
    }

.mb25{
    margin-bottom: 25px;
}

.mb30{
    margin-bottom: 30px;
}

.ml10{
    margin-left: 10px;
}

.colorRojo{
    color: #DF1600;
}

.colorAzul{
    color: #002a80;
    font-size: 23px;
}

.display_none{
    display: none;
}


